openapi: 3.2.0
info:
  title: Mx Technologies Notifications API
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  version: '1.0'
  description: 'Operations tagged notifications across 2 of this provider''s published API definitions: mx-technologies-platform-openapi.yml, mx-technologies-platform-v20250224-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://int-api.mx.com
- url: https://api.mx.com
security:
- basicAuth: []
tags:
- name: Notifications
paths:
  /users/{user_guid}/notifications:
    parameters:
    - $ref: '#/components/parameters/userGuid'
    post:
      tags:
      - Notifications
      operationId: createNotification
      summary: Create a notification
      description: All notifications created through the API will be of notification type `API_NOTIFICATION`, channel `PUSH`, and will not be associated to an entity. No other channels are supported. This will only have an effect for clients using an MX mobile application.
      parameters:
      - $ref: '#/components/parameters/content'
      - $ref: '#/components/parameters/subject'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponseBody'
    get:
      tags:
      - Notifications
      operationId: listNotifications
      summary: List notifications
      description: All notifications for the user can be listed, including notifications created by MX for other channels besides `PUSH`.
      parameters:
      - $ref: '#/components/parameters/fromDate'
      - $ref: '#/components/parameters/toDate'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationsResponseBody'
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
  /users/{user_guid}/notifications/{notification_guid}:
    get:
      tags:
      - Notifications
      operationId: readNotifications
      summary: Read notifications
      description: Can pull up any notification associated with the user, including notifications created by MX for other channels besides `PUSH`.
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/notificationGuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationResponseBody'
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
components:
  parameters:
    recordsPerPageMax1000:
      description: This specifies the number of records to be returned on each page. Defaults to `25`. The valid range is from `10` to `1000`. If the value exceeds `1000`, the default value of `25` will be used instead.
      example: 10
      in: query
      name: records_per_page
      schema:
        type: integer
    content:
      name: content
      description: The information related to the notification.
      required: true
      in: query
      schema:
        type: string
    page:
      description: Results are paginated. Specify current page.
      example: 1
      in: query
      name: page
      schema:
        type: integer
    fromDate:
      description: Filter transactions from this date. This only supports ISO 8601 format without timestamp (YYYY-MM-DD). Defaults to 120 days ago if not provided.
      example: '2024-01-01'
      in: query
      name: from_date
      schema:
        type: string
    userGuid:
      description: The unique identifier for a `user`, beginning with the prefix `USR-`.
      example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
      in: path
      name: user_guid
      required: true
      schema:
        type: string
    notificationGuid:
      name: notification_guid
      description: The unique identifier for notifications. Defined by MX.
      example: NTF-b53294f5-2356-4782-9f81-ae064c42b40a
      in: path
      required: true
      schema:
        type: string
    toDate:
      description: Filter transactions to this date (at midnight). This only supports ISO 8601 format without timestamp (YYYY-MM-DD). Defaults to 5 days forward from the day the request is made to capture pending transactions.
      example: '2024-03-31'
      in: query
      name: to_date
      schema:
        type: string
    subject:
      name: subject
      description: The subject related to the notification.
      required: true
      in: query
      schema:
        type: string
    acceptVersion:
      name: Accept-Version
      in: header
      required: true
      schema:
        type: string
        default: v20250224
        example: v20250224
      description: MX Platform API version.
  schemas:
    NotificationResponseBody:
      properties:
        notification:
          $ref: '#/components/schemas/NotificationResponse'
      type: object
    NotificationResponse:
      properties:
        guid:
          example: TF-b53294f5-2356-4782-9f81-ae064c42b40a
        content:
          example: The content related to the notification.
        deep_link_guid:
          example: BGT-e386a323-e452-47f2-b2fd-1ac3c18533de
        delivered_at:
          example: null
        entity_guid:
          example: BGT-e386a323-e452-47f2-b2fd-1ac3c18533de
        has_been_delivered:
          example: true
        has_been_viewed:
          example: false
        notification_type:
          example: 2
        subject:
          example: You're projected to spend $1,920.07 more than you've budgeted for Fees & Charges. You've already spent $65.67 of $316.00.
        channel:
          example: push
    NotificationsResponseBody:
      properties:
        notifications:
          items:
            $ref: '#/components/schemas/NotificationResponse'
      type: object
    NotificationResponse_2:
      properties:
        channel:
          description: 'The way the notification will be delivered to the user.


            All notifications created through the API will be of notification type `API_NOTIFICATION`, channel `PUSH`, and will not be associated to an entity. No other channels are supported.

            '
          example: EMAIL
          type:
          - string
          - 'null'
          enum:
          - EMAIL
          - SMS
          - PUSH
          - IN_APP
        content:
          description: The main body of the notification text sent to the user.
          example: You're projected to spend $1,920.07 more than you've budgeted for Fees & Charges. You've already spent $325.67 of $716.00.
          type: string
        created_at:
          description: The date and time the notification was created, represented in ISO 8601 format with a timestamp.
          example: '2025-02-13T18:08:00+00:00'
          type: string
        deep_link_guid:
          description: The unique identifier for objects that directly trigger a notification. For example, `TRANSACTION_FEE_CHARGE` and `TRANSACTION_EXPENSE_LARGE` notification types will have a transaction guid in this field.
          example: BGT-e386a323-e452-47f2-b2fd-1ac3c18533de
        delivered_at:
          description: Date and time the notification was delivered, represented in ISO 8601 format with timestamp.
          example: null
        entity_guid:
          description: The unique identifier of the entity that the notification is attached to.
          example: BGT-e386a323-e452-47f2-b2fd-1ac3c18533de
        guid:
          description: Unique identifier for the notification. Defined by MX.
          example: NTF-b53294f5-2356-4782-9f81-ae064c42b40a
        has_been_delivered:
          description: Indicates if the notification has been delivered to the user.
          example: true
        has_been_viewed:
          description: Indicates if the notification has been viewed by the user.
          example: false
        notification_type:
          description: The type of notification. See [Notification Types](/api-reference/platform-api/reference/notifications-fields#notification-types).
          example: 2
        subject:
          description: The notification summary text. Usually the same text used for “in-app” or SMS notifications.
          example: Your Fees & Charges budget projection
        threshold:
          example: 325
    NotificationRequest:
      properties:
        content:
          description: The main body of the notification text sent to the user.
          example: You're projected to spend $1,920.07 more than you've budgeted for Fees & Charges. You've already spent $325.67 of $716.00.
          type: string
        subject:
          description: The notification summary text. Usually the same text used for “in-app” or SMS notifications.
          example: Monthly Budget Report
          type: string
      required:
      - content
      - subject
      type: object
    NotificationRequestBody:
      properties:
        notification:
          $ref: '#/components/schemas/NotificationRequest'
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      scheme: basic
      type: http
x-refined-from:
- mx-technologies-platform-openapi.yml
- mx-technologies-platform-v20250224-openapi.yml
