openapi: 3.2.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: 'The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.


    Just getting started? See our [use case guides](/use-cases/).

    '
  title: MX Platform Accounts API
  version: '20111101'
servers:
- url: https://int-api.mx.com
- url: https://api.mx.com
security:
- basicAuth: []
tags:
- name: accounts
paths:
  /users/{user_guid}/accounts:
    get:
      description: 'This endpoint returns a list of all the accounts associated with the specified `user`.


        :::warning

        This request will not return the full account number. It may return the last four digits of the account number if that information has been provided during aggregation. If you need the full account number, please refer to [List account numbers by member](/api-reference/platform-api/reference/list-account-numbers-by-member/) or [List account numbers by account](/api-reference/platform-api/reference/list-account-numbers-by-account/).

        :::

        '
      operationId: listUserAccounts
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/memberIsManagedByUser'
      - $ref: '#/components/parameters/accountIsManual'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/useCase'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List accounts
      tags:
      - accounts
    post:
      description: This endpoint can only be used to create manual accounts. Creating a manual account will automatically create it under the Manual Institution member. Since a manual account has no credentials tied to the member, the account will never aggregate or include data from a data feed..
      operationId: createManualAccount
      parameters:
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequestBody'
        description: Manual account object to be created.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Create manual account
      tags:
      - accounts
  /users/{user_guid}/accounts/{account_guid}:
    get:
      description: This endpoint returns the specified `account` resource.
      operationId: readAccount
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read account
      tags:
      - accounts
    delete:
      description: This endpoint deletes accounts that were manually created. The API will respond with an empty object and a status of `204 No Content`.
      operationId: deleteManualAccount
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/acceptHeader'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No content.
      summary: Delete manual account
      tags:
      - accounts
  /users/{user_guid}/accounts/{account_guid}/account_numbers:
    get:
      description: This endpoint returns a list of account numbers associated with the specified `account`.
      operationId: listAccountNumbersByAccount
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountNumbersResponseBody'
          description: OK
      summary: List account numbers by account
      tags:
      - accounts
  /users/{user_guid}/members/{member_guid}/account_numbers:
    get:
      description: This endpoint returns a list of account numbers associated with the specified `member`.
      operationId: listAccountNumbersByMember
      parameters:
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountNumbersResponseBody'
          description: OK
      summary: List account numbers by member
      tags:
      - accounts
  /users/{user_guid}/members/{member_guid}/account_owners:
    get:
      description: This endpoint returns an array with information about every account associated with a particular member.
      operationId: listAccountOwnersByMember
      parameters:
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountOwnersResponseBody'
          description: OK
      summary: List account owners by member
      tags:
      - accounts
  /users/{user_guid}/members/{member_guid}/accounts:
    get:
      description: This endpoint returns a list of all the accounts associated with the specified `member`.
      operationId: listMemberAccounts
      parameters:
      - $ref: '#/components/parameters/memberIsManagedByUser'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/memberGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List accounts by member
      tags:
      - accounts
  /users/{user_guid}/members/{member_guid}/accounts/{account_guid}:
    get:
      description: This endpoint allows you to read the attributes of an `account` resource.
      operationId: readAccountByMember
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read account by member
      tags:
      - accounts
    put:
      description: This endpoint allows you to update certain attributes of an `account` resource, including manual accounts. For manual accounts, you can update every field listed. For aggregated accounts, you can only update `is_business`, `is_hidden` and `metadata`.
      operationId: updateAccountByMember
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequestBody'
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Update account by member
      tags:
      - accounts
  /users/{user_identifier}/accounts:
    get:
      description: 'This endpoint returns a list of all the accounts associated with the specified `user`.

        :::warning Account Numbers

        This request will not return the full account number. It may return the last four digits of the account number if that information has been provided during aggregation. If you need the full account number, please refer to [List account numbers by member](https://docs.mx.com/api-reference/platform-api/reference/list-account-numbers-by-member/), [List account numbers by account](https://docs.mx.com/api-reference/platform-api/reference/list-account-numbers-by-account/), or the [Fetch Account and Routing Numbers](https://docs.mx.com/products/connectivity/instant-account-verification/fetch-account-routing-number-api/#4-read-the-account-numbers) guide.

        :::

        '
      operationId: listUserAccounts
      parameters:
      - $ref: '#/components/parameters/acceptVersion'
      - $ref: '#/components/parameters/acceptHeader_2'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/memberIsManagedByUser'
      - $ref: '#/components/parameters/accountIsManual'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userIdentifier'
      - $ref: '#/components/parameters/useCase_2'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List accounts
      tags:
      - accounts
    post:
      description: 'This endpoint can only be used to create manual accounts. Creating a manual account will automatically create it under the Manual Institution member. Since a manual account has no credentials tied to the member, the account will never aggregate or include data from a data feed.

        :::warning

        You must use the user `guid` when setting `user_identifier` in the path.

        :::

        '
      operationId: createManualAccount
      parameters:
      - $ref: '#/components/parameters/acceptVersion'
      - $ref: '#/components/parameters/userIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequestBody'
        description: Manual account object to be created.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Create manual account
      tags:
      - accounts
  /users/{user_identifier}/accounts/{account_identifier}/account_numbers:
    get:
      description: This endpoint returns a list of account numbers associated with the specified `account`.
      operationId: listAccountNumbersByAccount
      parameters:
      - $ref: '#/components/parameters/acceptVersion'
      - $ref: '#/components/parameters/accountIdentifier'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountNumbersResponseBody'
          description: OK
      summary: List account numbers by account
      tags:
      - accounts
  /users/{user_guid}/accounts/merge:
    post:
      operationId: mergeAccounts
      tags:
      - accounts
      summary: Merge accounts
      description: "Merge two or more financial accounts that an end user has identified as duplicates. \nProvide at least two account GUIDs belonging to the same user. \n:::danger\n\nThe response will return a single consolidated account. Any other accounts you provided that were not included in the response will be deleted.\nThis is a destructive action and can't be undone.\n\n:::\n"
      parameters:
      - $ref: '#/components/parameters/acceptVersion'
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsMergeRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
  /users/{user_identifier}/members/{member_identifier}/account_owners:
    get:
      description: This endpoint returns an array with information about every account associated with a particular member.
      operationId: listAccountOwnersByMember
      parameters:
      - $ref: '#/components/parameters/acceptVersion'
      - $ref: '#/components/parameters/memberIdentifier'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOwnersResponseBody'
          description: OK
      summary: List account owners by member
      tags:
      - accounts
  /users/{user_identifier}/members/{member_identifier}/accounts:
    get:
      description: This endpoint returns a list of all the accounts associated with the specified `member`.
      operationId: listMemberAccounts
      parameters:
      - $ref: '#/components/parameters/acceptVersion'
      - $ref: '#/components/parameters/memberIsManagedByUser'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userIdentifier'
      - $ref: '#/components/parameters/memberIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List member accounts
      tags:
      - accounts
  /users/{user_identifier}/members/{member_identifier}/accounts/{account_identifier}:
    get:
      description: This endpoint allows you to read the attributes of an `account` resource.
      operationId: readAccountByMember
      parameters:
      - $ref: '#/components/parameters/acceptVersion'
      - $ref: '#/components/parameters/accountIdentifier'
      - $ref: '#/components/parameters/memberIdentifier'
      - $ref: '#/components/parameters/userIdentifier'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read member account
      tags:
      - accounts
    put:
      description: This endpoint allows you to update certain attributes of an `account` resource, including manual accounts. For manual accounts, you can update every field listed. For aggregated accounts, you can only update `is_business`, `is_hidden` and `metadata`.
      operationId: updateAccountByMember
      parameters:
      - $ref: '#/components/parameters/acceptVersion'
      - $ref: '#/components/parameters/accountIdentifier'
      - $ref: '#/components/parameters/memberIdentifier'
      - $ref: '#/components/parameters/userIdentifier'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequestBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Update account by member
      tags:
      - accounts
components:
  parameters:
    memberIdentifier:
      description: Use either the member `id` you defined or the MX-defined member `guid`. See [MX-Defined GUIDs vs IDs Defined by You](https://docs.mx.com/products/connectivity/overview/held-data/#mx-defined-guids-vs-ids-defined-by-you).
      name: member_identifier
      in: path
      required: true
      schema:
        type: string
    useCase_2:
      description: The use case associated with the member. Valid values are `PFM` and/or `MONEY_MOVEMENT`.
      required: false
      in: query
      name: use_case
      schema:
        type: string
    useCase:
      description: The use case associated with the member. Valid values are `PFM` and `MONEY_MOVEMENT`. For example, you can append either `?use_case=PFM` or `?use_case=MONEY_MOVEMENT`.
      example: MONEY_MOVEMENT
      required: false
      in: query
      name: use_case
      schema:
        type: string
    accountIsManual:
      description: List only accounts that were manually created.
      example: true
      in: query
      name: is_manual
      schema:
        type: boolean
    memberGuid:
      description: The unique id for a `member`.
      example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
      in: path
      name: member_guid
      required: true
      schema:
        type: string
    acceptVersion:
      name: Accept-Version
      in: header
      required: true
      schema:
        type: string
        default: v20250224
        example: v20250224
      description: MX Platform API version.
    page:
      description: Results are paginated. Specify current page.
      example: 1
      in: query
      name: page
      schema:
        type: integer
    accountIdentifier:
      description: Use either the account `id` you defined or the MX-defined account `guid`. See [MX-Defined GUIDs vs IDs Defined by You](https://docs.mx.com/products/connectivity/overview/held-data/#mx-defined-guids-vs-ids-defined-by-you).
      in: path
      required: true
      name: account_identifier
      schema:
        type: string
    acceptHeader_2:
      description: Specifies the media type expected in the response.
      in: header
      name: Accept
      required: true
      schema:
        type: string
        example: application/json
    accountGuid:
      description: The unique id for an `account`.
      example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
      in: path
      name: account_guid
      required: true
      schema:
        type: string
    acceptHeader:
      description: Specifies the media type expected in the response.
      in: header
      name: Accept
      required: true
      schema:
        type: string
        example: application/vnd.mx.api.v1+json
    recordsPerPageMax1000:
      description: This specifies the number of records to be returned on each page. Defaults to `25`. The valid range is from `10` to `1000`. If the value exceeds `1000`, the default value of `25` will be used instead.
      example: 10
      in: query
      name: records_per_page
      schema:
        type: integer
    memberIsManagedByUser:
      description: List only accounts whose member is managed by the user.
      example: true
      in: query
      name: member_is_managed_by_user
      schema:
        type: boolean
    userGuid:
      description: The unique identifier for a `user`, beginning with the prefix `USR-`.
      example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
      in: path
      name: user_guid
      required: true
      schema:
        type: string
    userIdentifier:
      description: Use either the user `id` you defined or the MX-defined user `guid`. See [MX-Defined GUIDs vs IDs Defined by You​](https://docs.mx.com/products/connectivity/overview/held-data/#mx-defined-guids-vs-ids-defined-by-you).
      in: path
      required: true
      name: user_identifier
      schema:
        type: string
  schemas:
    AccountNumbersResponseBody:
      properties:
        account_numbers:
          items:
            $ref: '#/components/schemas/AccountNumberResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    AccountOwnersResponseBody:
      properties:
        account_owners:
          items:
            $ref: '#/components/schemas/AccountOwnerResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    AccountNumberResponse:
      properties:
        account_guid:
          example: ACT-06d7f45b-caae-0f6e-1384-01f52e75dcb1
          type:
          - string
          - 'null'
        account_number:
          example: '10001'
          type:
          - string
          - 'null'
        guid:
          example: ACN-8899832e-e5b4-42cd-aa25-bbf1dc889a8f
          type:
          - string
          - 'null'
        institution_number:
          example: '123'
          type:
          - string
          - 'null'
        loan_guarantor:
          example: U.S. DEPARTMENT OF EDUCATION (123456)
          type:
          - string
          - 'null'
        loan_reference_number:
          example: '123456789012345'
          type:
          - string
          - 'null'
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          type:
          - string
          - 'null'
        passed_validation:
          example: true
          type:
          - boolean
          - 'null'
        routing_number:
          example: '68899990000000'
          type:
          - string
          - 'null'
        sequence_number:
          example: 1-01
          type:
          - string
          - 'null'
        transit_number:
          example: '12345'
          type:
          - string
          - 'null'
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          type:
          - string
          - 'null'
      type: object
    AccountResponse:
      properties:
        account_number:
          example: '5366'
          type:
          - string
          - 'null'
        account_number_set_by:
          example: 1
          type:
          - integer
          - 'null'
        account_ownership:
          example: INDIVIDUAL
          type:
          - string
          - 'null'
        annuity_policy_to_date:
          example: '2016-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        annuity_provider:
          example: Metlife
          type:
          - string
          - 'null'
        annuity_term_year:
          example: 2048
          type:
          - integer
          - 'null'
        apr:
          example: 1
          type:
          - number
          - 'null'
        apr_set_by:
          example: 1
          type:
          - integer
          - 'null'
        apy:
          example: 1
          type:
          - number
          - 'null'
        apy_set_by:
          example: 1
          type:
          - integer
          - 'null'
        available_balance:
          example: 1000
          type:
          - number
          - 'null'
        available_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        available_credit:
          example: 1000
          type:
          - number
          - 'null'
        available_credit_set_by:
          example: 1
          type:
          - integer
          - 'null'
        balance:
          example: 10000
          type:
          - number
          - 'null'
        balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        calculated_apr:
          example: 21.66409
          type:
          - number
          - 'null'
        cash_balance:
          example: 1000
          type:
          - number
          - 'null'
        cash_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        cash_surrender_value:
          example: 1000
          type:
          - number
          - 'null'
        cash_surrender_value_set_by:
          example: 1
          type:
          - integer
          - 'null'
        created_at:
          example: '2023-07-25T17:14:46Z'
          type: string
        credit_limit:
          example: 100
          type:
          - number
          - 'null'
        credit_limit_set_by:
          example: 1
          type:
          - integer
          - 'null'
        currency_code:
          example: USD
          type:
          - string
          - 'null'
        currency_code_set_by:
          example: 1
          type:
          - integer
          - 'null'
        day_payment_is_due:
          example: 20
          type:
          - integer
          - 'null'
        day_payment_is_due_set_by:
          example: 1
          type:
          - integer
          - 'null'
        death_benefit:
          example: 1000
          type:
          - integer
          - 'null'
        death_benefit_set_by:
          example: 1
          type:
          - integer
          - 'null'
        federal_insurance_status:
          example: INSURED
          type:
          - string
          - 'null'
        feed_account_number:
          example: '5366'
          type:
          - string
          - 'null'
        feed_account_subtype:
          example: 1
          type:
          - integer
          - 'null'
        feed_account_type:
          example: 1
          type:
          - integer
          - 'null'
        feed_apr:
          example: 1
          type:
          - number
          - 'null'
        feed_apy:
          example: 1
          type:
          - number
          - 'null'
        feed_available_balance:
          example: 1000
          type:
          - number
          - 'null'
        feed_balance:
          example: 1000
          type:
          - number
          - 'null'
        feed_cash_balance:
          example: 1000
          type:
          - number
          - 'null'
        feed_cash_surrender_value:
          example: 1000
          type:
          - number
          - 'null'
        feed_credit_limit:
          example: 100
          type:
          - number
          - 'null'
        feed_currency_code:
          example: USD
          type:
          - string
          - 'null'
        feed_day_payment_is_due:
          example: 20
          type:
          - integer
          - 'null'
        feed_death_benefit:
          example: 1000
          type:
          - integer
          - 'null'
        feed_holdings_value:
          example: 1000
          type:
          - number
          - 'null'
        feed_interest_rate:
          example: 1
          type:
          - number
          - 'null'
        feed_is_closed:
          example: false
          type:
          - boolean
          - 'null'
        feed_last_payment:
          example: 100
          type:
          - number
          - 'null'
        feed_last_payment_at:
          example: '2023-07-25T17:14:46Z'
          type:
          - string
          - 'null'
        feed_loan_amount:
          example: 1000
          type:
          - number
          - 'null'
        feed_matures_on:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        feed_minimum_balance:
          example: 100
          type:
          - number
          - 'null'
        feed_minimum_payment:
          example: 10
          type:
          - number
          - 'null'
        feed_name:
          example: Test account 2
          type:
          - string
          - 'null'
        feed_nickname:
          example: My Checking
          type:
          - string
          - 'null'
        feed_original_balance:
          example: 10
          type:
          - number
          - 'null'
        feed_payment_due_at:
          example: '2025-02-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        feed_payoff_balance:
          example: 10
          type:
          - number
          - 'null'
        feed_routing_number:
          example: '68899990000000'
          type:
          - string
          - 'null'
        feed_started_on:
          example: '2020-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        feed_statement_balance:
          example: 100
          type:
          - number
          - 'null'
        feed_total_account_value:
          example: 100
          type:
          - number
          - 'null'
        guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          type:
          - string
          - 'null'
        holdings_value:
          example: 1000
          type:
          - number
          - 'null'
        holdings_value_set_by:
          example: 1
          type:
          - integer
          - 'null'
        id:
          example: '1040434698'
          type:
          - string
          - 'null'
        imported_at:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        institution_code:
          example: 3af3685e-05d9-7060-359f-008d0755e993
          type:
          - string
          - 'null'
        institution_guid:
          example: INS-12a3b-4c5dd6-1349-008d0755e993
          type:
          - string
          - 'null'
        insured_name:
          example: Tommy Shelby
          type:
          - string
          - 'null'
        interest_rate:
          example: 1
          type:
          - number
          - 'null'
        interest_rate_set_by:
          example: 1
          type:
          - integer
          - 'null'
        is_closed:
          example: false
          type:
          - boolean
          - 'null'
        is_closed_set_by:
          example: 1
          type:
          - integer
          - 'null'
        is_hidden:
          example: false
          type:
          - boolean
          - 'null'
        is_manual:
          example: false
          type:
          - boolean
          - 'null'
        last_payment:
          example: 100
          type:
          - number
          - 'null'
        last_payment_set_by:
          example: 1
          type:
          - integer
          - 'null'
        last_payment_at:
          example: '2023-07-25T17:14:46Z'
          type:
          - string
          - 'null'
        last_payment_at_set_by:
          example: 1
          type:
          - integer
          - 'null'
        loan_amount:
          example: 1000
          type:
          - number
          - 'null'
        loan_amount_set_by:
          example: 1
          type:
          - integer
          - 'null'
        margin_balance:
          example: 1000
          type:
          - number
          - 'null'
        matures_on:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        matures_on_set_by:
          example: 1
          type:
          - integer
          - 'null'
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          type:
          - string
          - 'null'
        member_id:
          example: member123
          type:
          - string
          - 'null'
        member_is_managed_by_user:
          example: false
          type:
          - boolean
          - 'null'
        metadata:
          example: some metadata
          type:
          - string
          - 'null'
        minimum_balance:
          example: 100
          type:
          - number
          - 'null'
        minimum_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        minimum_payment:
          example: 10
          type:
          - number
          - 'null'
        minimum_payment_set_by:
          example: 1
          type:
          - integer
          - 'null'
        name:
          example: Test account 2
          type:
          - string
          - 'null'
        name_set_by:
          example: 1
          type:
          - integer
          - 'null'
        nickname:
          example: My Checking
          type:
          - string
          - 'null'
        nickname_set_by:
          example: 1
          type:
          - integer
          - 'null'
        original_balance:
          example: 10
          type:
          - number
          - 'null'
        original_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        pay_out_amount:
          example: 10
          type:
          - number
          - 'null'
        payment_due_at:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        payment_due_at_set_by:
          example: 1
          type:
          - integer
          - 'null'
        payoff_balance:
          example: 10
          type:
          - number
          - 'null'
        payoff_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        premium_amount:
          example: 3900
          type:
          - number
          - 'null'
        property_type:
          example: VEHICLE
          type:
          - string
          - 'null'
        routing_number:
          example: '68899990000000'
          type:
          - string
          - 'null'
        started_on:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        started_on_set_by:
          example: 1
          type:
          - integer
          - 'null'
        statement_balance:
          example: 1000.5
          type:
          - number
          - 'null'
        statement_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        subtype:
          example: NONE
          type:
          - string
          - 'null'
        subtype_set_by:
          example: 1
          type:
          - integer
          - 'null'
        today_ugl_amount:
          example: 1000.5
          type:
          - number
          - 'null'
        today_ugl_percentage:
          example: 6.9
          type:
          - number
          - 'null'
        total_account_value:
          example: 1
          type:
          - number
          - 'null'
        total_account_value_set_by:
          example: 1
          type:
          - integer
          - 'null'
        total_account_value_ugl:
          example: 1
          type:
          - number
          - 'null'
        type:
          example: SAVINGS
          type:
          - string
          - 'null'
        type_set_by:
          example: 1
          type:
          - integer
          - 'null'
        updated_at:
          example: '2016-10-13T18:08:00.000Z'
          type:
          - string
          - 'null'
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          type:
          - string
          - 'null'
        user_id:
          example: user123
          type:
          - string
          - 'null'
      type: object
    AccountsMergeRequest:
      properties:
        account_guids:
          type: array
          description: A list of account GUIDs to merge. Must include at least two GUIDs belonging to the same user.
          items:
            type: string
          example:
          - ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          - ACT-e1b1e9e7-9436-4720-a1b5-f02373433bd4
      required:
      - account_guids
      type: object
    AccountResponseBody:
      properties:
        account:
          $ref: '#/components/schemas/AccountResponse'
      type: object
    AccountsResponseBody:
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/AccountResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    AccountUpdateRequest:
      properties:
        account_subtype:
          example: PERSONAL
          type: string
          description: Can only be updated for manual accounts.
        account_type:
          example: SAVINGS
          type: string
          description: Can only be updated for manual accounts.
        apr:
          example: 1
          type: number
          description: Can only be updated for manual accounts.
        apy:
          example: 1
          type: number
          description: Can only be updated for manual accounts.
        available_balance:
          example: 1000
          type: number
          description: Can only be updated for manual accounts.
        balance:
          example: 1000
          type: number
          description: Can only be updated for manual accounts.
        cash_surrender_value:
          example: 1000
          type: number
          description: Can only be updated for manual accounts.
        credit_limit:
          example: 100
          type: number
          description: Can only be updated for manual accounts.
        currency_code:
          example: USD
          type: string
          description: Can only be updated for manual accounts.
        death_benefit:
          example: 1000
          type: integer
          description: Can only be updated for manual accounts.
        interest_rate:
          example: 1
          type: number
          description: Can only be updated for manual accounts.
        is_business:
          example: false
          type: boolean
          description: Can be updated for manual accounts and aggregated accounts.
        is_closed:
          example: false
          type: boolean
          description: Can only be updated for manual accounts.
        is_hidden:
          example: false
          type: boolean
          description: Can be updated for manual accounts and aggregated accounts.
        loan_amount:
          example: 1000
          type: number
          description: Can only be updated for manual accounts.
        metadata:
          example: some metadata
          type: string
          description: Can only be updated for manual accounts.
        name:
          example: Test account 2
          type: string
          description: Can only be updated for manual accounts.
        nickname:
          example: Swiss Account
          type: string
          description: Can only be updated for manual accounts.
        original_balance:
          example: 10
          type: number
          description: Can only be updated for manual accounts.
        property_type:
          example: VEHICLE
          type: string
          description: Can only be updated for manual accounts.
        skip_webhook:
          example: true
          type: boolean
          description: If set to true, prevents sending an account webhook for the update if that webhook type is enabled for you.
      type: object
    AccountOwnerResponse:
      properties:
        account_guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          type:
          - string
          - 'null'
        address:
          example: 123 This Way
          type:
          - string
          - 'null'
        city:
          example: Middlesex
          type:
          - string
          - 'null'
        country:
          example: US
          type:
          - string
          - 'null'
        email:
          example: donnie@darko.co
          type:
          - string
          - 'null'
        first_name:
          example: Donnie
          type:
          - string
          - 'null'
        guid:
          example: ACO-63dc7714-6fc0-4aa2-a069-c06cdccd1af9
          type:
          - string
          - 'null'
        last_name:
          example: Darko
          type:
          - string
          - 'null'
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          type:
          - string
          - 'null'
        owner_name:
          example: Donnie Darko
          type:
          - string
          - 'null'
        phone:
          example: 555-555-5555
          type:
          - string
          - 'null'
        postal_code:
          example: 00000-0000
          type:
          - string
          - 'null'
        state:
          example: VA
          type:
          - string
          - 'null'
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          type:
          - string
          - 'null'
      type: object
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
    AccountUpdateRequestBody:
      properties:
        account:
          $ref: '#/components/schemas/AccountUpdateRequest'
      type: object
    AccountsMergeRequestBody:
      properties:
        account:
          $ref: '#/components/schemas/AccountsMergeRequest'
      type: object
    AccountCreateRequestBody:
      properties:
        account:
          $ref: '#/components/schemas/AccountCreateRequest'
      type: object
    AccountCreateRequest:
      properties:
        account_subtype:
          example: PERSONAL
          type: string
        account_type:
          example: SAVINGS
          type: string
        apr:
          example: 1
          type: number
        apy:
          example: 1
          type: number
        available_balance:
          example: 1000
          type: number
        balance:
          example: 1000
          type: number
        cash_surrender_value:
          example: 1000
          type: number
        credit_limit:
          example: 100
          type: number
        currency_code:
          example: USD
          type: string
        death_benefit:
          example: 1000
          type: integer
        interest_rate:
          example: 1
          type: number
        is_business:
          example: false
          type: boolean
        is_closed:
          example: false
          type: boolean
        is_hidden:
          example: false
          type: boolean
        loan_amount:
          example: 1000
          type: number
        metadata:
          example: some metadata
          type: string
        name:
          example: Test account 2
          type: string
        nickname:
          example: Swiss Account
          type: string
        original_balance:
          example: 10
          type: number
        property_type:
          example: VEHICLE
          type: string
        skip_webhook:
          example: true
          type: boolean
      required:
      - name
      - account_type
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      scheme: basic
      type: http
