openapi: 3.2.0
info:
  title: Mx Technologies Insights API
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  version: '1.0'
  description: 'Operations tagged insights across 2 of this provider''s published API definitions: mx-technologies-platform-openapi.yml, mx-technologies-platform-v20250224-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://int-api.mx.com
- url: https://api.mx.com
security:
- basicAuth: []
tags:
- name: Insights
paths:
  /users/{user_guid}/accounts/{account_guid}/insights:
    get:
      description: Use this endpoint to list all insights associated with an account GUID.
      operationId: listInsightsByAccount
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightsResponseBody'
          description: OK
      summary: List insights by account
      tags:
      - Insights
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
  /users/{user_guid}/insights:
    get:
      description: Use this endpoint to list all the insights associated with the user.
      operationId: listInsightsUser
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightsResponseBody'
          description: OK
      summary: List all insights for a user
      tags:
      - Insights
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
  /users/{user_guid}/insights/{insight_guid}/categories:
    get:
      description: Use this endpoint to list all the categories associated with the insight.
      operationId: listCategoriesInsight
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List all categories associated with an insight
      tags:
      - Insights
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
  /users/{user_guid}/insights/{insight_guid}/accounts:
    get:
      description: Use this endpoint to list all the accounts associated with the insight.
      operationId: listAccountsInsight
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List all accounts associated with an insight
      tags:
      - Insights
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
  /users/{user_guid}/insights/{insight_guid}/merchants:
    get:
      description: Use this endpoint to list all the merchants associated with the insight.
      operationId: listMerchantsInsight
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MerchantsResponseBody'
          description: OK
      summary: List all merchants associated with an insight
      tags:
      - Insights
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
  /users/{user_guid}/insights/{insight_guid}/scheduled_payments:
    get:
      description: Use this endpoint to list all the scheduled payments associated with the insight.
      operationId: listScheduledPaymentsInsight
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ScheduledPaymentsResponseBody'
          description: OK
      summary: List all scheduled payments associated with an insight
      tags:
      - Insights
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
  /users/{user_guid}/insights/{insight_guid}/transactions:
    get:
      description: Use this endpoint to list all the transactions associated with the insight.
      operationId: listTransactionsInsight
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBody'
          description: OK
      summary: List all transactions associated with an insight
      tags:
      - Insights
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
  /users/{user_guid}/insights/{insight_guid}:
    get:
      description: Use this endpoint to read the attributes of an insight according to its unique GUID.
      operationId: readInsightUser
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightResponseBody'
          description: OK
      summary: Read insight
      tags:
      - Insights
    put:
      description: Use this endpoint to update the attributes of an insight according to its unique GUID.
      operationId: updateInsight
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsightUpdateRequestBody'
        description: The insight to be updated (None of these parameters are required, but the user object cannot be empty.)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightResponse'
          description: OK
      summary: Update insight
      tags:
      - Insights
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
  /users/{user_guid}/transactions/{transaction_guid}/insights:
    get:
      description: Use this endpoint to list all insights associated with a transaction GUID.
      operationId: listInsightsByTransaction
      parameters:
      - $ref: '#/components/parameters/transactionGuid'
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightsResponseBody'
          description: OK
      summary: List insights by transaction
      tags:
      - Insights
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
components:
  schemas:
    TransactionsResponseBody:
      properties:
        transactions:
          items:
            $ref: '#/components/schemas/TransactionResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
    AccountResponse:
      properties:
        account_number:
          example: '5366'
          type:
          - string
          - 'null'
        account_number_set_by:
          example: 1
          type:
          - integer
          - 'null'
        account_ownership:
          example: INDIVIDUAL
          type:
          - string
          - 'null'
        annuity_policy_to_date:
          example: '2016-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        annuity_provider:
          example: Metlife
          type:
          - string
          - 'null'
        annuity_term_year:
          example: 2048
          type:
          - integer
          - 'null'
        apr:
          example: 1
          type:
          - number
          - 'null'
        apr_set_by:
          example: 1
          type:
          - integer
          - 'null'
        apy:
          example: 1
          type:
          - number
          - 'null'
        apy_set_by:
          example: 1
          type:
          - integer
          - 'null'
        available_balance:
          example: 1000
          type:
          - number
          - 'null'
        available_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        available_credit:
          example: 1000
          type:
          - number
          - 'null'
        available_credit_set_by:
          example: 1
          type:
          - integer
          - 'null'
        balance:
          example: 10000
          type:
          - number
          - 'null'
        balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        calculated_apr:
          example: 21.66409
          type:
          - number
          - 'null'
        cash_balance:
          example: 1000
          type:
          - number
          - 'null'
        cash_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        cash_surrender_value:
          example: 1000
          type:
          - number
          - 'null'
        cash_surrender_value_set_by:
          example: 1
          type:
          - integer
          - 'null'
        created_at:
          example: '2023-07-25T17:14:46Z'
          type: string
        credit_limit:
          example: 100
          type:
          - number
          - 'null'
        credit_limit_set_by:
          example: 1
          type:
          - integer
          - 'null'
        currency_code:
          example: USD
          type:
          - string
          - 'null'
        currency_code_set_by:
          example: 1
          type:
          - integer
          - 'null'
        day_payment_is_due:
          example: 20
          type:
          - integer
          - 'null'
        day_payment_is_due_set_by:
          example: 1
          type:
          - integer
          - 'null'
        death_benefit:
          example: 1000
          type:
          - integer
          - 'null'
        death_benefit_set_by:
          example: 1
          type:
          - integer
          - 'null'
        federal_insurance_status:
          example: INSURED
          type:
          - string
          - 'null'
        feed_account_number:
          example: '5366'
          type:
          - string
          - 'null'
        feed_account_subtype:
          example: 1
          type:
          - integer
          - 'null'
        feed_account_type:
          example: 1
          type:
          - integer
          - 'null'
        feed_apr:
          example: 1
          type:
          - number
          - 'null'
        feed_apy:
          example: 1
          type:
          - number
          - 'null'
        feed_available_balance:
          example: 1000
          type:
          - number
          - 'null'
        feed_balance:
          example: 1000
          type:
          - number
          - 'null'
        feed_cash_balance:
          example: 1000
          type:
          - number
          - 'null'
        feed_cash_surrender_value:
          example: 1000
          type:
          - number
          - 'null'
        feed_credit_limit:
          example: 100
          type:
          - number
          - 'null'
        feed_currency_code:
          example: USD
          type:
          - string
          - 'null'
        feed_day_payment_is_due:
          example: 20
          type:
          - integer
          - 'null'
        feed_death_benefit:
          example: 1000
          type:
          - integer
          - 'null'
        feed_holdings_value:
          example: 1000
          type:
          - number
          - 'null'
        feed_interest_rate:
          example: 1
          type:
          - number
          - 'null'
        feed_is_closed:
          example: false
          type:
          - boolean
          - 'null'
        feed_last_payment:
          example: 100
          type:
          - number
          - 'null'
        feed_last_payment_at:
          example: '2023-07-25T17:14:46Z'
          type:
          - string
          - 'null'
        feed_loan_amount:
          example: 1000
          type:
          - number
          - 'null'
        feed_matures_on:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        feed_minimum_balance:
          example: 100
          type:
          - number
          - 'null'
        feed_minimum_payment:
          example: 10
          type:
          - number
          - 'null'
        feed_name:
          example: Test account 2
          type:
          - string
          - 'null'
        feed_nickname:
          example: My Checking
          type:
          - string
          - 'null'
        feed_original_balance:
          example: 10
          type:
          - number
          - 'null'
        feed_payment_due_at:
          example: '2025-02-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        feed_payoff_balance:
          example: 10
          type:
          - number
          - 'null'
        feed_routing_number:
          example: '68899990000000'
          type:
          - string
          - 'null'
        feed_started_on:
          example: '2020-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        feed_statement_balance:
          example: 100
          type:
          - number
          - 'null'
        feed_total_account_value:
          example: 100
          type:
          - number
          - 'null'
        guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          type:
          - string
          - 'null'
        holdings_value:
          example: 1000
          type:
          - number
          - 'null'
        holdings_value_set_by:
          example: 1
          type:
          - integer
          - 'null'
        id:
          example: '1040434698'
          type:
          - string
          - 'null'
        imported_at:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        institution_code:
          example: 3af3685e-05d9-7060-359f-008d0755e993
          type:
          - string
          - 'null'
        institution_guid:
          example: INS-12a3b-4c5dd6-1349-008d0755e993
          type:
          - string
          - 'null'
        insured_name:
          example: Tommy Shelby
          type:
          - string
          - 'null'
        interest_rate:
          example: 1
          type:
          - number
          - 'null'
        interest_rate_set_by:
          example: 1
          type:
          - integer
          - 'null'
        is_closed:
          example: false
          type:
          - boolean
          - 'null'
        is_closed_set_by:
          example: 1
          type:
          - integer
          - 'null'
        is_hidden:
          example: false
          type:
          - boolean
          - 'null'
        is_manual:
          example: false
          type:
          - boolean
          - 'null'
        last_payment:
          example: 100
          type:
          - number
          - 'null'
        last_payment_set_by:
          example: 1
          type:
          - integer
          - 'null'
        last_payment_at:
          example: '2023-07-25T17:14:46Z'
          type:
          - string
          - 'null'
        last_payment_at_set_by:
          example: 1
          type:
          - integer
          - 'null'
        loan_amount:
          example: 1000
          type:
          - number
          - 'null'
        loan_amount_set_by:
          example: 1
          type:
          - integer
          - 'null'
        margin_balance:
          example: 1000
          type:
          - number
          - 'null'
        matures_on:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        matures_on_set_by:
          example: 1
          type:
          - integer
          - 'null'
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          type:
          - string
          - 'null'
        member_id:
          example: member123
          type:
          - string
          - 'null'
        member_is_managed_by_user:
          example: false
          type:
          - boolean
          - 'null'
        metadata:
          example: some metadata
          type:
          - string
          - 'null'
        minimum_balance:
          example: 100
          type:
          - number
          - 'null'
        minimum_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        minimum_payment:
          example: 10
          type:
          - number
          - 'null'
        minimum_payment_set_by:
          example: 1
          type:
          - integer
          - 'null'
        name:
          example: Test account 2
          type:
          - string
          - 'null'
        name_set_by:
          example: 1
          type:
          - integer
          - 'null'
        nickname:
          example: My Checking
          type:
          - string
          - 'null'
        nickname_set_by:
          example: 1
          type:
          - integer
          - 'null'
        original_balance:
          example: 10
          type:
          - number
          - 'null'
        original_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        pay_out_amount:
          example: 10
          type:
          - number
          - 'null'
        payment_due_at:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        payment_due_at_set_by:
          example: 1
          type:
          - integer
          - 'null'
        payoff_balance:
          example: 10
          type:
          - number
          - 'null'
        payoff_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        premium_amount:
          example: 3900
          type:
          - number
          - 'null'
        property_type:
          example: VEHICLE
          type:
          - string
          - 'null'
        routing_number:
          example: '68899990000000'
          type:
          - string
          - 'null'
        started_on:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        started_on_set_by:
          example: 1
          type:
          - integer
          - 'null'
        statement_balance:
          example: 1000.5
          type:
          - number
          - 'null'
        statement_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        subtype:
          example: NONE
          type:
          - string
          - 'null'
        subtype_set_by:
          example: 1
          type:
          - integer
          - 'null'
        today_ugl_amount:
          example: 1000.5
          type:
          - number
          - 'null'
        today_ugl_percentage:
          example: 6.9
          type:
          - number
          - 'null'
        total_account_value:
          example: 1
          type:
          - number
          - 'null'
        total_account_value_set_by:
          example: 1
          type:
          - integer
          - 'null'
        total_account_value_ugl:
          example: 1
          type:
          - number
          - 'null'
        type:
          example: SAVINGS
          type:
          - string
          - 'null'
        type_set_by:
          example: 1
          type:
          - integer
          - 'null'
        updated_at:
          example: '2016-10-13T18:08:00.000Z'
          type:
          - string
          - 'null'
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          type:
          - string
          - 'null'
        user_id:
          example: user123
          type:
          - string
          - 'null'
      type: object
    InsightsResponseBody:
      properties:
        insights:
          items:
            $ref: '#/components/schemas/InsightResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    AccountsResponseBody:
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/AccountResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    CategoriesResponseBody:
      properties:
        categories:
          items:
            $ref: '#/components/schemas/CategoryResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
    MerchantsResponseBody:
      properties:
        merchants:
          items:
            $ref: '#/components/schemas/MerchantResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    ScheduledPaymentsResponseBody:
      properties:
        scheduled_payments:
          items:
            $ref: '#/components/schemas/ScheduledPaymentResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    MerchantResponse:
      properties:
        created_at:
          example: '2017-04-20T19:30:12.000Z'
          type:
          - string
          - 'null'
        guid:
          example: MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b
          type:
          - string
          - 'null'
        logo_url:
          example: https://s3.amazonaws.com/MD_Assets/merchant_logos/comcast.png
          type:
          - string
          - 'null'
        name:
          example: Comcast
          type:
          - string
          - 'null'
        updated_at:
          example: '2018-09-28T21:13:53.000Z'
          type:
          - string
          - 'null'
        website_url:
          example: https://www.xfinity.com
          type:
          - string
          - 'null'
      type: object
    InsightResponseBody:
      properties:
        insight:
          $ref: '#/components/schemas/InsightResponse'
      type: object
    InsightUpdateRequest:
      properties:
        has_been_displayed:
          example: false
          type: boolean
        is_dismissed:
          example: false
          type: boolean
    TransactionResponse:
      properties:
        account_guid:
          example: ACT-0af29528-bb91-447f-b5de-85c1c42593e5
          type:
          - string
          - 'null'
        account_id:
          example: FdvkkAgLS0nbDNUujrblz6rYDSl5w-tTLwYRgIxe7jw
          type:
          - string
          - 'null'
        amount:
          example: 5003.9
          type:
          - number
          - 'null'
        category:
          example: Paycheck
          type:
          - string
          - 'null'
        category_guid:
          example: CAT-982ea9e6-3f0e-0c5b-611b-6657a10ba819
          type:
          - string
          - 'null'
        check_number_string:
          example: null
          type:
          - string
          - 'null'
        created_at:
          example: '2024-12-20T18:52:36Z'
          type:
          - string
          - 'null'
        currency_code:
          example: null
          type:
          - string
          - 'null'
        date:
          example: '2024-12-20'
          type:
          - string
          - 'null'
        description:
          example: MX Technologies
          type:
          - string
          - 'null'
        extended_transaction_type:
          example: null
          type:
          - string
          - 'null'
        guid:
          example: TRN-429ad9fe-a1d2-4559-8590-885b2603f0e1
          type:
          - string
          - 'null'
        id:
          example: 1734681600000-178fa8095c154a55b9172f977b4c5f9a-0
          type:
          - string
          - 'null'
        is_bill_pay:
          example: false
          type:
          - boolean
          - 'null'
        is_direct_deposit:
          example: false
          type:
          - boolean
          - 'null'
        is_expense:
          example: false
          type:
          - boolean
          - 'null'
        is_fee:
          example: false
          type:
          - boolean
          - 'null'
        is_income:
          example: true
          type:
          - boolean
          - 'null'
        is_international:
          example: null
          type:
          - boolean
          - 'null'
        is_manual:
          example: false
          type:
          - boolean
          - 'null'
        is_overdraft_fee:
          example: false
          type:
          - boolean
          - 'null'
        is_payroll_advance:
          example: false
          type:
          - boolean
          - 'null'
        is_recurring:
          example: null
          type:
          - boolean
          - 'null'
        is_subscription:
          example: false
          type:
          - boolean
          - 'null'
        latitude:
          example: null
          type:
          - number
          - 'null'
        localized_description:
          example: null
          type:
          - string
          - 'null'
        localized_memo:
          example: null
          type:
          - string
          - 'null'
        longitude:
          example: null
          type:
          - number
          - 'null'
        member_guid:
          example: MBR-78b14c5f-7297-4fb5-a966-65ac45f74d8
          type:
          - string
          - 'null'
        member_is_managed_by_user:
          example: true
          type:
          - boolean
          - 'null'
        memo:
          example: Transactions
          type:
          - string
          - 'null'
        merchant_category_code:
          example: null
          type:
          - integer
          - 'null'
        merchant_guid:
          example: MCH-8cc3b01a-1c52-47d4-970d-30f8ee5566f1
          type:
          - string
          - 'null'
        merchant_location_guid:
          example: null
          type:
          - string
          - 'null'
        metadata:
          example: null
          type:
          - string
          - 'null'
        original_description:
          example: MX TECHNOLOGIES PAYMENT
          type:
          - string
          - 'null'
        posted_at:
          example: '2024-12-20T12:00:00Z'
          type:
          - string
          - 'null'
        status:
          example: POSTED
          type:
          - string
          - 'null'
        top_level_category:
          example: Income
          type:
          - string
          - 'null'
        transacted_at:
          example: '2024-12-20T12:00:00Z'
          type:
          - string
          - 'null'
        type:
          example: CREDIT
          type:
          - string
          - 'null'
        updated_at:
          example: '2024-12-20T18:52:38Z'
          type:
          - string
          - 'null'
        user_guid:
          example: USR-ef7a82f6-d6c1-42c4-9061-bdece5c4d44e
          type:
          - string
          - 'null'
        user_id:
          example: null
          type:
          - string
          - 'null'
      type: object
    CategoryResponse:
      properties:
        created_at:
          description: Category creation date-time.
          example: '2015-04-13T18:01:23.000Z'
          type:
          - string
          - 'null'
        guid:
          example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
          type:
          - string
          - 'null'
        is_default:
          example: true
          type:
          - boolean
          - 'null'
        is_income:
          example: false
          type:
          - boolean
          - 'null'
        metadata:
          example: some metadata
          type:
          - string
          - 'null'
        name:
          example: Auto Insurance
          type:
          - string
          - 'null'
        parent_guid:
          example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
          type:
          - string
          - 'null'
        updated_at:
          example: '2015-05-13T18:01:23.000Z'
          type:
          - string
          - 'null'
      type: object
    InsightUpdateRequestBody:
      properties:
        insight:
          $ref: '#/components/schemas/InsightUpdateRequest'
      type: object
    InsightResponse:
      properties:
        active_at:
          example: '2022-01-07T12:00:00Z'
          type:
          - string
          - 'null'
        client_guid:
          example: CLT-abcd-1234
          type:
          - string
          - 'null'
        created_at:
          example: '2022-01-12T18:16:51Z'
          type:
          - string
          - 'null'
        cta_clicked_at:
          example: '2022-01-13T18:13:51Z'
          type:
          - string
          - 'null'
        description:
          example: Gold's Gym charged you $36.71 more this month than normal. Did you upgrade your service?
          type:
          - string
          - 'null'
        guid:
          example: BET-abcd-1234
          type:
          - string
          - 'null'
        has_associated_accounts:
          example: false
          type:
          - boolean
          - 'null'
        has_associated_categories:
          example: false
          type:
          - boolean
          - 'null'
        has_associated_merchants:
          example: false
          type:
          - boolean
          - 'null'
        has_associated_scheduled_payments:
          example: false
          type:
          - boolean
          - 'null'
        has_associated_transactions:
          example: true
          type:
          - boolean
          - 'null'
        has_been_displayed:
          example: true
          type:
          - boolean
          - 'null'
        is_dismissed:
          example: false
          type:
          - boolean
          - 'null'
        micro_call_to_action:
          example: Learn more
          type:
          - string
          - 'null'
        micro_description:
          example: Netflix charged you $5.00 more this month than normal.
          type:
          - string
          - 'null'
        micro_title:
          example: Price increase
          type:
          - string
          - 'null'
        template:
          example: SubscriptionPriceIncrease
          type:
          - string
          - 'null'
        title:
          example: Price increase
          type:
          - string
          - 'null'
        updated_at:
          example: '2022-01-12T18:16:51Z'
          type:
          - string
          - 'null'
        user_guid:
          example: USR-1234-abcd
          type: string
        user_id:
          example: user-partner-defined-1234
      type: object
    ScheduledPaymentResponse:
      properties:
        amount:
          example: 13.54
          type: number
        created_at:
          example: '2023-04-27T23:14:16Z'
          type: string
        description:
          example: Netflix
          type: string
        guid:
          example: SPA-c76e4a85-b2c4-4335-82b7-8f8b8f28c35a
          type: string
        is_completed:
          example: false
          type: boolean
        is_recurring:
          example: true
          type: boolean
        merchant_guid:
          example: MCH-b8a2624c-2176-59ec-c150-37854bc38aa8
          type: string
        occurs_on:
          example: '2022-01-15'
          type: string
        recurrence_day:
          example: 15
          type: integer
        recurrence_type:
          example: EVERY_MONTH
          type: string
        transaction_type:
          example: DEBIT
          type: string
        updated_at:
          example: '2023-04-27T23:14:16Z'
          type: string
        user_guid:
          example: USR-72086f59-6684-4adf-8f29-c4d32db43cd7
          type: string
      type: object
    AccountResponse_2:
      properties:
        account_number:
          description: The account number associated with the account. This will typically be a masked or partial account number.
          example: '3331261'
          type:
          - string
          - 'null'
        account_ownership:
          description: The type of ownership associated with the account. `NULL` is returned if not received in the data feed.
          example: INDIVIDUAL
          type:
          - string
          - 'null'
          enum:
          - UNKNOWN
          - INDIVIDUAL
          - JOINT
          - MULTIPLE
          - null
        annuity_policy_to_date:
          description: The date until which the policy is in effect.
          example: '2025-12-31'
          type:
          - string
          - 'null'
        annuity_provider:
          description: The provider of the insurance policy.
          example: Metlife
          type:
          - string
          - 'null'
        annuity_term_year:
          description: The effective duration of an insurance policy (one year, five years, etc.).
          example: 30
          type:
          - integer
          - 'null'
        apr:
          description: The annual percentage rate associated with the `account`.
          example: 1
          type:
          - number
          - 'null'
        apy:
          description: The annual percentage yield associated with the `account`.
          example: 2.35
          type:
          - number
          - 'null'
        available_balance:
          description: 'The balance that is available for use in asset accounts like checking and savings.


            `PENDING` transactions are typically (not always) taken into account with the available balance.


            `available_balance` will usually be a positive value for all account types, determined in the same way as the balance field.

            '
          example: 1000
          type:
          - number
          - 'null'
        available_credit:
          description: 'The amount of credit available for use in liability accounts like credit cards and lines of credit.


            `PENDING` transactions are typically (not always) taken into account with available credit.


            `available_credit` will usually be a positive value for all account types, determined in the same way as the `balance` field.

            '
          example: 4000
          type:
          - number
          - 'null'
        balance:
          description: "The current balance of the account.\n\n`PENDING` transactions are typically not taken into account with the current balance, but this may not always be the case.\n    \nThe balance will usually be a positive value for all account types. Asset-type accounts (`CHECKING`, `SAVINGS`, `INVESTMENT`) may have a negative balance if they are in overdraft.\n\nDebt-type accounts (`CREDIT_CARD`, `LOAN`, `LINE_OF_CREDIT`, `MORTGAGE`) may have a negative balance if they are overpaid.\n"
          example: 1000
          type:
          - number
          - 'null'
        cash_balance:
          description: The cash balance of the `account`.
          example: 2500
          type:
          - number
          - 'null'
        cash_surrender_value:
          description: The sum of money paid to the policyholder or annuity holder in the event the policy is voluntarily terminated before it matures, or the insured event occurs.
          example: 1000
          type:
          - number
          - 'null'
        created_at:
          description: The date and time the account was created, represented in ISO 8601 format with a timestamp.
          example: '2025-02-13T18:08:00+00:00'
          type: string
        credit_limit:
          description: The credit limit associated with the `account`.
          example: 5000
          type:
          - number
          - 'null'
        currency_code:
          description: The three-character ISO 4217 currency code, for example, `USD`.
          example: USD
          type:
          - string
          - 'null'
        day_payment_is_due:
          description: The day of the month the payment is due. For example, the 14th is passed as `14`.
          example: 14
          type:
          - integer
          - 'null'
        death_benefit:
          description: The amount paid to the beneficiary of the account upon death of the account owner.
          example: 1000
          type:
          - integer
          - 'null'
        federal_insurance_status:
          description: 'The federal insurance status of the account. Indicates whether the account is insured by the FDIC (banks) or NCUA (credit unions).


            Returns an integer (`UNKNOWN_INSURED` = 0, `INSURED` = 1, `NOT_INSURED` = 2).

            '
          example: INSURED
          type:
          - string
          - 'null'
          enum:
          - UNKNOWN_INSURED
          - INSURED
          - NOT_INSURED
        guid:
          description: Unique identifier for the account. Defined by MX.
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          type:
          - string
          - 'null'
        id:
          description: The unique partner-defined identifier for the account.
          example: '1040434698'
          type:
          - string
          - 'null'
        imported_at:
          description: The date and time at which the `account` was last successfully aggregated and received data.
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        interest_rate:
          description: The interest rate associated with the account.
          example: 3.25
          type:
          - number
          - 'null'
        institution_code:
          description: The code identifying a financial institution.
          example: 3af3685e-05d9-7060-359f-008d0755e993
          type:
          - string
          - 'null'
        insured_name:
          description: The name of the insured person.
          example: Tommy Shelby
          type:
          - string
          - 'null'
        is_closed:
          description: Indicates whether an account has been closed. Closed accounts will no longer update balance or transaction information.
          example: false
          type: boolean
        is_hidden:
          description: Indicates whether the account is hidden. Hidden accounts can still have an active balance and receive transactions. Defaults to `false`.
          example: false
          type:
          - boolean
          - 'null'
        is_manual:
          description: Indicates whether the transaction was manually created or belongs to a manual account.
          example: false
          type:
          - boolean
          - 'null'
        last_payment:
          description: The amount of the most recent payment on the `account`.
          example: 100
          type:
          - number
          - 'null'
        last_payment_at:
          description: The date and time when the last payment was made, represented in ISO 8601 format with a timestamp.
          example: '2023-07-25T17:14:46Z'
          type:
          - string
          - 'null'
        loan_amount:
          description: The amount of the loan associated with the `account`.
          example: 1000
          type:
          - number
          - 'null'
        margin_balance:
          description: Represents the amount of debt the investor owes to the broker for the use of margin. It can be positive or negative, depending on the performance of the investments made with the borrowed funds. A positive margin balance indicates that the securities purchased on margin have increased in value, whereas a negative margin balance signifies that the securities have decreased in value.
          example: 1000
          type:
          - number
          - 'null'
        matures_on:
          description: The date on which the `account` matures.
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        member_guid:
          description: The unique identifier for the member. Defined by MX.
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          type:
          - string
          - 'null'
        member_id:
          description: The unique, partner-defined, identifier for the member associated with this `account`.
          example: member123
          type:
          - string
          - 'null'
        member_is_managed_by_user:
          description: This indicates whether the member is managed by the user or the MX partner. Members created with the managed member feature will have this field set to `false`.
          example: false
          type:
          - boolean
          - 'null'
        metadata:
          description: Additional information you stored about the `account`.
          example: some metadata
          type:
          - string
          - 'null'
        minimum_balance:
          description: The minimum balance associated with the `account`.
          example: 100
          type:
          - number
          - 'null'
        minimum_payment:
          description: The minimum payment required for an account. This can apply to any debt account.
          example: 10
          type:
          - number
          - 'null'
        name:
          description: The human-readable name for the resource.
          example: Test account 2
          type:
          - string
          - 'null'
        nickname:
          description: An alternate name for the `account`.
          example: My Checking
          type:
          - string
          - 'null'
        original_balance:
          description: The original balance associated with the `account`. This will always be positive.
          example: 10
          type:
          - number
          - 'null'
        pay_out_amount:
          description: The amount paid out to the insured individual or beneficiary under the conditions of the insurance policy.
          example: 10
          type:
          - number
          - 'null'
        payment_due_at:
          description: The date and time at which the next payment is due on the `account`.
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        payoff_balance:
          description: The payoff balance for a debt `account`. This will normally be a positive number.
          example: 10
          type:
          - number
          - 'null'
        premium_amount:
          description: The insurance policy's premium amount.
          example: 1
          type:
          - number
          - 'null'
        property_type:
          description: Subtype if the account type is `PROPERTY`. This field should be ignored unless the type is set to PROPERTY.
          example: VEHICLE
          type:
          - string
          - 'null'
          enum:
          - APPLIANCES
          - ART
          - COMPUTER
          - ELECTRONICS
          - FURNITURE
          - JEWELRY
          - MISCELLANEOUS
          - REAL_ESTATE
          - SPORTS_EQUIPMENT
          - VEHICLE
        routing_number:
          description: The routing number for the `account`.
          example: '68899990000000'
          type:
          - string
          - 'null'
        started_on:
          description: The date on which the loan from a debt account started.
          example: '2025-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        statement_balance:
          description: The balance at the end of the account's last statement period.
          example: 1000.5
          type:
          - number
          - 'null'
        subtype:
          description: The account's subtype, for example, `PLAN_401_K`, `MONEY_MARKET`, or `HOME_EQUITY`. Each subtype belongs to an account `type`. For a full list of account subtypes and types, see [Accounts](/api-reference/platform-api/reference/accounts).
          example: MONEY_MARKET
          type:
          - string
          - 'null'
        today_ugl_amount:
          description: The unrealized gain/loss amount for the day for the account.
          example: 1000.5
          type:
          - number
          - 'null'
        today_ugl_percentage:
          description: The unrealized gain/loss percentage for the date for the account.
          example: 6.9
          type:
          - number
          - 'null'
        total_account_value:
          description: The sum of the long and short positions, the sweep account and/or cash balance, and any margin debt associated with a particular account. This amount includes the market value of all positions held in the account and is reduced by any debit balance and the amount of short options positions that are "in the money". This may sum to a negative value, and it does not represent an account balance.
          example: 1
          type:
          - number
          - 'null'
        total_account_value_ugl:
          description: The unrealized gains and losses represent the amount the account has gained or lost based on the purchase price. This is calculated by subtracting the purchase price from the current market value. It does not affect the account until the positions are sold and "realized". This may sum to a negative value, and it does not represent an account balance.
          example: 1
          type:
          - number
          - 'null'
        type:
          description: The type of account. Some account types may include subtypes.
          example: CHECKING
          type:
          - string
          - 'null'
          enum:
          - ANY
          - CASH
          - CHECKING
          - CHECKING_LINE_OF_CREDIT
          - CREDIT_CARD
          - LOAN
          - LINE_OF_CREDIT
          - SAVINGS
          - INVESTMENT
          - MORTGAGE
          - INSURANCE
          - PREPAID
          - PROPERTY
        updated_at:
          description: 'The date and time the resource was last updated in ISO 8601 format with a timestamp.


            For categories, this field will always be `null` when `is_default` is `true`.

            '
          example: '2025-02-13T18:09:00+00:00'
          type:
          - string
          - 'null'
        user_guid:
          description: The unique identifier for the user. Defined by MX.
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          type:
          - string
          - 'null'
        user_id:
          description: The unique partner-defined identifier for the user.
          example: u-1234
          type:
          - string
          - 'null'
      type: object
    PaginationResponse_2:
      properties:
        current_page:
          description: The page delivered by the current response.
          example: 1
          type: integer
        per_page:
          description: The number of records delivered with each page.
          example: 25
          type: integer
        total_entries:
          description: The total number of records available.
          example: 1
          type: integer
        total_pages:
          description: The total number of pages available.
          example: 1
          type: integer
      type: object
    MerchantResponse_2:
      properties:
        created_at:
          description: The date and time the merchant was created, represented in ISO 8601 format with a timestamp.
          example: '2025-02-13T18:08:00+00:00'
          type:
          - string
          - 'null'
        guid:
          description: The unique identifier for the merchant. Defined by MX.
          example: MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b
          type:
          - string
          - 'null'
        logo_url:
          description: The URL for a 100px X 100px logo for the merchant.
          example: https://s3.amazonaws.com/MD_Assets/merchant_logos/comcast.png
          type:
          - string
          - 'null'
        name:
          description: The name of the merchant.
          example: Comcast
          type:
          - string
          - 'null'
        updated_at:
          description: 'The date and time the resource was last updated in ISO 8601 format with a timestamp.


            For categories, this field will always be `null` when `is_default` is `true`.

            '
          example: '2025-02-13T18:09:00+00:00'
          type:
          - string
          - 'null'
        website_url:
          description: URL to the merchant's website.
          example: https://www.example.com
          type:
          - string
          - 'null'
      type: object
    InsightUpdateRequest_2:
      properties:
        has_been_displayed:
          description: Indicates whether the insight has been shown to the end user.
          example: false
          type: boolean
        is_dismissed:
          description: Indicates whether the insight has been dismissed by the user.
          example: false
          type: boolean
    TransactionResponse_2:
      properties:
        account_guid:
          description: The unique identifier for an account. Defined by MX.
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          type: string
        account_id:
          description: The unique client-defined identifier for the account.
          example: account123
          type:
          - string
          - 'null'
        amount:
          description: The monetary amount of the `transaction`.
          example: 61.11
          type:
          - number
          - 'null'
        category:
          description: The category of the `transaction`.
          example: Paycheck
          type:
          - string
          - 'null'
        category_guid:
          description: The unique identifier for the category. Defined by MX.
          example: CAT-b6d61a19-30a7-e852-2703-bdfb4072289e
          type:
          - string
          - 'null'
        check_number_string:
          description: The check number for the `transaction`.
          example: null
          type:
          - string
          - 'null'
        created_at:
          description: The date and time the transaction was created, represented in ISO 8601 format with a timestamp.
          example: '2025-02-13T18:08:00+00:00'
          type:
          - string
          - 'null'
        currency_code:
          description: The three-character ISO 4217 currency code, for example, `USD`.
          example: USD
          type:
          - string
          - 'null'
        date:
          description: The date on which the transaction took place. This is the field used when searching for transactions by date and is generally the same as `transacted_at`, but uses `posted_at` as a fallback.
          example: '2024-12-20'
          type:
          - string
          - 'null'
        description:
          description: A human-readable description of the transaction.
          example: MX Technologies Payroll
          type:
          - string
          - 'null'
        extended_transaction_type:
          description: The transaction type assigned by the partner.
          example: null
          type:
          - string
          - 'null'
        guid:
          description: The unique identifier for the transaction. Defined by MX.
          example: TRN-429ad9fe-a1d2-4559-8590-885b2603f0e1
          type:
          - string
          - 'null'
        id:
          description: The unique partner-defined identifier for the transaction.
          example: 1734681600000-178fa8095c154a55b9172f977b4c5f9a-0
          type:
          - string
          - 'null'
        is_bill_pay:
          description: Indicates whether the transaction is a bill payment.
          example: false
          type:
          - boolean
          - 'null'
        is_direct_deposit:
          description: Indicates whether the transaction is a direct deposit.
          example: false
          type:
          - boolean
          - 'null'
        is_expense:
          description: Indicates whether the transaction is an expense.
          example: false
          type:
          - boolean
          - 'null'
        is_fee:
          description: Indicates whether the transaction is a fee.
          example: false
          type:
          - boolean
          - 'null'
        is_income:
          description: Indicates whether the transaction is income.
          example: true
          type:
          - boolean
          - 'null'
        is_international:
          description: Indicates whether the transaction is international. If the data provider determines it isn't international then it will be `false`. It will be `null` if the data provider does not have this information.
          example: false
          type: boolean
        is_manual:
          description: Indicates whether the transaction was manually created or belongs to a manual account.
          example: false
          type:
          - boolean
          - 'null'
        is_overdraft_fee:
          description: Indicates whether the transaction is an overdraft fee.
          example: false
          type:
          - boolean
          - 'null'
        is_payroll_advance:
          description: Indicates whether the transaction is a payroll advance.
          example: false
          type:
          - boolean
          - 'null'
        is_recurring:
          description: Deprecated. If required, reach out to MX to discuss an alternative.
          example: null
          type:
          - boolean
          - 'null'
        is_subscription:
          description: Indicates whether the transaction is a subscription payment.
          example: false
          type:
          - boolean
          - 'null'
        latitude:
          description: The latitude of the location where the transaction occurred. The number is a signed decimal (for example, Rio de Janeiro's latitude is -22.9027800 and Tokyo's latitude is 35.689488).
          example: null
          type:
          - number
          - 'null'
        localized_description:
          description: A human-readable description of the transaction, provided in a local language.
          example: This is a localized_description
          type:
          - string
          - 'null'
        localized_memo:
          description: Additional descriptive information about the transaction, provided in a local language.
          example: This is a localized_memo
          type:
          - string
          - 'null'
        longitude:
          description: The longitude of the location where the transaction occurred. The number is a signed decimal (for example, Rio de Janeiro's longitude is -43.2075000 and Tokyo's longitude is 139.691706).
          example: null
          type:
          - number
          - 'null'
        member_guid:
          description: The unique identifier for the member. Defined by MX.
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          type:
          - string
          - 'null'
        member_is_managed_by_user:
          description: This indicates whether the member is managed by the user or the MX partner. Members created with the managed member feature will have this field set to `false`.
          example: true
          type:
          - boolean
          - 'null'
        memo:
          description: Additional information about the transaction.
          example: Transactions
          type:
          - string
          - 'null'
        merchant_category_code:
          description: The ISO 18245 category code for the transaction.
          example: null
          type:
          - integer
          - 'null'
        merchant_guid:
          description: The unique identifier for the merchant. Defined by MX.
          example: MCH-8cc3b01a-1c52-47d4-970d-30f8ee5566f1
          type:
          - string
          - 'null'
        merchant_location_guid:
          description: The unique identifier for the merchant location. Defined by MX.
          example: null
          type:
          - string
          - 'null'
        metadata:
          description: Additional information you stored about the `transaction`.
          example: some metadata
          type:
          - string
          - 'null'
        original_description:
          description: The original description of the transaction as provided by our data feed.
          example: MX TECHNOLOGIES PAYMENT
          type:
          - string
          - 'null'
        posted_at:
          description: The date and time the transaction was posted to the account.
          example: '2024-12-20T12:00:00Z'
          type:
          - string
          - 'null'
        status:
          description: 'The status of the transaction.


            All transaction data on our systems represent what we get through our data feed which depends what institutions make available for aggregation. Many institutions do not provide data for pending transactions; transactions from those accounts always have a status of `POSTED`.


            When we do receive data for pending transactions, a single transaction may be updated from `PENDING` to `POSTED` and keep the same `guid`. This is done through various matching methods performed automatically by MX.


            If a single transaction can''t be updated, the `PENDING` transaction will often be deleted and replaced with a new `POSTED` transaction (with a new `guid`) when it is sent to us; this is the most common scenario when pending data is available.


            In unusual circumstances, there may be separate `PENDING` and `POSTED` transactions on MX systems for up to 14 days. All `PENDING` transactions are deleted after 14 days as a failsafe.

            '
          example: POSTED
          type:
          - string
          - 'null'
          enum:
          - POSTED
          - PENDING
        top_level_category:
          description: The parent category assigned to this transaction's category.
          example: Income
          type:
          - string
          - 'null'
        transacted_at:
          description: The date and time the transaction took place.
          example: '2024-12-20T12:00:00Z'
          type:
          - string
          - 'null'
        type:
          description: The type of transaction.
          example: CREDIT
          type:
          - string
          - 'null'
          enum:
          - CREDIT
          - DEBIT
        updated_at:
          description: 'The date and time the resource was last updated in ISO 8601 format with a timestamp.


            For categories, this field will always be `null` when `is_default` is `true`.

            '
          example: '2025-02-13T18:09:00+00:00'
          type:
          - string
          - 'null'
        user_guid:
          description: The unique identifier for the user. Defined by MX.
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          type:
          - string
          - 'null'
        user_id:
          description: The unique partner-defined identifier for the user.
          example: u-1234
          type:
          - string
          - 'null'
      type: object
    CategoryResponse_2:
      properties:
        created_at:
          description: The date and time the category was created, represented in ISO 8601 format with a timestamp.
          example: '2025-02-13T18:08:00+00:00'
          type:
          - string
          - 'null'
        guid:
          description: The unique identifier for the category. Defined by MX.
          example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
          type:
          - string
          - 'null'
        is_default:
          description: Indicates whether the category is an MX-created default category. This will always be `false` for custom categories.
          example: true
          type:
          - boolean
          - 'null'
        is_income:
          description: Indicates whether the transaction is income.
          example: false
          type:
          - boolean
          - 'null'
        metadata:
          description: Additional information you stored on the `category`.
          example: some metadata
          type:
          - string
          - 'null'
        name:
          example: Auto Insurance
          type:
          - string
          - 'null'
          description: The name of the category.
        parent_guid:
          description: The unique identifier for the parent category. Defined by MX.
          example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
          type:
          - string
          - 'null'
        updated_at:
          description: 'The date and time the resource was last updated in ISO 8601 format with a timestamp.


            For categories, this field will always be `null` when `is_default` is `true`.

            '
          example: '2025-02-13T18:09:00+00:00'
          type:
          - string
          - 'null'
      type: object
    InsightResponse_2:
      properties:
        active_at:
          description: The date and time when the insight was activated, represented in ISO 8601 format with a timestamp.
          example: '2022-01-07T12:00:00Z'
          type:
          - string
          - 'null'
        client_guid:
          description: The unique identifier for the client associated with the insight. Defined by MX.
          example: CLT-abcd-1234
          type: string
        created_at:
          description: The date and time the insight was created, represented in ISO 8601 format with a timestamp.
          example: '2025-02-13T18:08:00+00:00'
          type:
          - string
          - 'null'
        cta_clicked_at:
          description: The date and time when a call-to-action was clicked, represented in ISO 8601 format with a timestamp.
          example: '2022-01-13T18:13:51Z'
          type:
          - string
          - 'null'
        description:
          description: The human-readable information being delivered to the end user.
          example: Gold's Gym charged you $36.71 more this month than normal. Did you upgrade your service?
          type:
          - string
          - 'null'
        guid:
          description: The unique identifier for the `insight`. Defined by MX.
          example: BET-abcd-1234
          type:
          - string
          - 'null'
        has_associated_accounts:
          description: Indicates whether there are accounts associated with the insight.
          example: false
          type:
          - boolean
          - 'null'
        has_associated_categories:
          description: Indicates whether there are categories associated with the insight.
          example: false
          type:
          - boolean
          - 'null'
        has_associated_merchants:
          description: Indicates whether there are merchants associated with the insight.
          example: false
          type:
          - boolean
          - 'null'
        has_associated_scheduled_payments:
          description: Indicates whether there are scheduled payments associated with the insight.
          example: false
          type:
          - boolean
          - 'null'
        has_associated_transactions:
          description: Indicates whether there are transactions associated with the insight.
          example: true
          type:
          - boolean
          - 'null'
        has_been_displayed:
          description: Indicates whether the insight has been shown to the end user.
          example: true
          type:
          - boolean
          - 'null'
        is_dismissed:
          description: Indicates whether the insight has been dismissed by the user.
          example: false
          type:
          - boolean
          - 'null'
        micro_call_to_action:
          description: A short call-to-action text for prompting user engagement.
          example: Learn more
          type:
          - string
          - 'null'
        micro_description:
          description: A condensed description of the insight.
          example: Netflix charged you $5.00 more this month than normal.
          type:
          - string
          - 'null'
        micro_title:
          description: A shorter version of title. For example, `Price Increase` or `Paycheck Deposit`.
          example: Price Increase
          type:
          - string
          - 'null'
        template:
          description: A short label for the type of `insight` being delivered, for example, `SubscriptionPriceIncrease` or `MonthlyCategoryTotal`.
          example: SubscriptionPriceIncrease
          type:
          - string
          - 'null'
        title:
          description: The title for the specific `insight`, for example, `Price Increase` or `Paycheck Deposit`.
          example: Price increase
          type:
          - string
          - 'null'
        updated_at:
          description: 'The date and time the resource was last updated in ISO 8601 format with a timestamp.


            For categories, this field will always be `null` when `is_default` is `true`.

            '
          example: '2025-02-13T18:09:00+00:00'
          type:
          - string
          - 'null'
        user_guid:
          description: The unique identifier for the user. Defined by MX.
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          type: string
        user_id:
          description: The unique partner-defined identifier for the user.
          example: u-1234
          type: string
      type: object
    ScheduledPaymentResponse_2:
      properties:
        amount:
          description: The monetary amount of the `transaction`.
          example: 61.11
          type: number
        created_at:
          description: The date and time the scheduled payment was created, represented in ISO 8601 format with a timestamp.
          example: '2025-02-13T18:08:00+00:00'
          type: string
        description:
          description: A human-readable description of the `scheduled_payment`, for example, Power bill.
          example: Netflix
          type: string
        guid:
          description: The unique identifier for the scheduled payment. Defined by MX.
          example: SPA-c76e4a85-b2c4-4335-82b7-8f8b8f28c35a
          type: string
        is_completed:
          description: Indicates whether the `scheduled_payment` has been paid or not. This field is only applicable to one-time transactions.
          example: false
          type: boolean
        is_recurring:
          description: Deprecated. If required, reach out to MX to discuss an alternative.
          example: true
          type: boolean
        merchant_guid:
          description: The unique identifier for the merchant. Defined by MX.
          example: MCH-b8a2624c-2176-59ec-c150-37854bc38aa8
          type: string
        occurs_on:
          description: The date on which the payment is scheduled to occur, given in ISO 8601 format without a timestamp.
          example: '2022-01-15'
          type: string
        recurrence_day:
          description: The day of the month where the next payment is expected to occur.
          example: 15
          type: integer
        recurrence_type:
          description: The type of recurrence schedule.
          example: EVERY_MONTH
          type: string
        transaction_type:
          description: The type of transaction.
          example: DEBIT
          type: string
          enum:
          - CREDIT
          - DEBIT
        updated_at:
          description: 'The date and time the resource was last updated in ISO 8601 format with a timestamp.


            For categories, this field will always be `null` when `is_default` is `true`.

            '
          example: '2025-02-13T18:09:00+00:00'
          type: string
        user_guid:
          description: The unique identifier for the user. Defined by MX.
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          type: string
      type: object
  parameters:
    page:
      description: Results are paginated. Specify current page.
      example: 1
      in: query
      name: page
      schema:
        type: integer
    accountGuid:
      description: The unique id for an `account`.
      example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
      in: path
      name: account_guid
      required: true
      schema:
        type: string
    recordsPerPage:
      description: This specifies the number of records to be returned on each page. Defaults to `25`. The valid range is from `10` to `100`. If the value exceeds `100`, the default value of `25` will be used instead.
      example: 10
      in: query
      name: records_per_page
      schema:
        type: integer
    userGuid:
      description: The unique identifier for a `user`, beginning with the prefix `USR-`.
      example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
      in: path
      name: user_guid
      required: true
      schema:
        type: string
    transactionGuid:
      description: The unique id for a `transaction`.
      example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
      in: path
      name: transaction_guid
      required: true
      schema:
        type: string
    insightGuid:
      description: The unique identifier for the insight. Defined by MX.
      example: BET-1234-abcd
      in: path
      name: insight_guid
      required: true
      schema:
        type: string
    acceptVersion:
      name: Accept-Version
      in: header
      required: true
      schema:
        type: string
        default: v20250224
        example: v20250224
      description: MX Platform API version.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      scheme: basic
      type: http
x-refined-from:
- mx-technologies-platform-openapi.yml
- mx-technologies-platform-v20250224-openapi.yml
