openapi: 3.2.0
info:
  title: Mx Technologies Taggings API
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  version: '1.0'
  description: 'Operations tagged taggings across 2 of this provider''s published API definitions: mx-technologies-platform-openapi.yml, mx-technologies-platform-v20250224-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://int-api.mx.com
- url: https://api.mx.com
security:
- basicAuth: []
tags:
- name: Taggings
paths:
  /users/{user_guid}/taggings:
    get:
      description: Use this endpoint to retrieve a list of all the taggings associated with a specific user.
      operationId: listTaggings
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingsResponseBody'
          description: OK
      summary: List taggings
      tags:
      - Taggings
    post:
      description: Use this endpoint to create a new association between a tag and a particular transaction, according to their unique GUIDs.
      operationId: createTagging
      parameters:
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaggingCreateRequestBody'
        description: Tagging object to be created with required parameters (tag_guid and transaction_guid)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingResponseBody'
          description: Accepted
      summary: Create tagging
      tags:
      - Taggings
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
  /users/{user_guid}/taggings/{tagging_guid}:
    delete:
      description: Use this endpoint to delete a tagging according to its unique GUID. If successful, the API will respond with an empty body and a status of 204 NO Content.
      operationId: deleteTagging
      parameters:
      - $ref: '#/components/parameters/taggingGuid'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete tagging
      tags:
      - Taggings
    get:
      description: Use this endpoint to read the attributes of a `tagging` according to its unique GUID.
      operationId: readTagging
      parameters:
      - $ref: '#/components/parameters/taggingGuid'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingResponseBody'
          description: OK
      summary: Read tagging
      tags:
      - Taggings
    put:
      description: Use this endpoint to update a tagging.
      operationId: updateTagging
      parameters:
      - $ref: '#/components/parameters/taggingGuid'
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaggingUpdateRequestBody'
        description: Tagging object to be updated with required parameter (tag_guid)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingResponseBody'
          description: OK
      summary: Update tagging
      tags:
      - Taggings
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
components:
  parameters:
    recordsPerPageMax1000:
      description: This specifies the number of records to be returned on each page. Defaults to `25`. The valid range is from `10` to `1000`. If the value exceeds `1000`, the default value of `25` will be used instead.
      example: 10
      in: query
      name: records_per_page
      schema:
        type: integer
    page:
      description: Results are paginated. Specify current page.
      example: 1
      in: query
      name: page
      schema:
        type: integer
    taggingGuid:
      description: The unique id for a `tagging`.
      example: TGN-007f5486-17e1-45fc-8b87-8f03984430fe
      in: path
      name: tagging_guid
      required: true
      schema:
        type: string
    userGuid:
      description: The unique identifier for a `user`, beginning with the prefix `USR-`.
      example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
      in: path
      name: user_guid
      required: true
      schema:
        type: string
    acceptVersion:
      name: Accept-Version
      in: header
      required: true
      schema:
        type: string
        default: v20250224
        example: v20250224
      description: MX Platform API version.
  schemas:
    TaggingsResponseBody:
      properties:
        taggings:
          items:
            $ref: '#/components/schemas/TaggingResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    TaggingResponse:
      properties:
        guid:
          example: TGN-007f5486-17e1-45fc-8b87-8f03984430fe
          type:
          - string
          - 'null'
        member_is_managed_by_user:
          example: false
          type:
          - boolean
          - 'null'
        tag_guid:
          example: TAG-40faf068-abb4-405c-8f6a-e883ed541fff
          type:
          - string
          - 'null'
        transaction_guid:
          example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
          type:
          - string
          - 'null'
        user_guid:
          example: USR-11141024-90b3-1bce-cac9-c06ced52ab4c
          type:
          - string
          - 'null'
      type: object
    TaggingResponseBody:
      properties:
        tagging:
          $ref: '#/components/schemas/TaggingResponse'
      type: object
    TaggingCreateRequestBody:
      properties:
        tagging:
          $ref: '#/components/schemas/TaggingCreateRequest'
      type: object
    TaggingUpdateRequestBody:
      properties:
        tagging:
          $ref: '#/components/schemas/TaggingUpdateRequest'
      type: object
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
    TaggingUpdateRequest:
      properties:
        tag_guid:
          example: TAG-40faf068-abb4-405c-8f6a-e883ed541fff
          type: string
      required:
      - tag_guid
      type: object
    TaggingCreateRequest:
      properties:
        tag_guid:
          example: TAG-40faf068-abb4-405c-8f6a-e883ed541fff
          type: string
        transaction_guid:
          example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
          type: string
      required:
      - tag_guid
      - transaction_guid
      type: object
    TaggingResponse_2:
      properties:
        guid:
          description: The unique identifier for the tagging. Defined by MX.
          example: TGN-007f5486-17e1-45fc-8b87-8f03984430fe
          type:
          - string
          - 'null'
        member_is_managed_by_user:
          description: This indicates whether the member is managed by the user or the MX partner. Members created with the managed member feature will have this field set to `false`.
          example: false
          type:
          - boolean
          - 'null'
        tag_guid:
          description: The unique identifier for the tag. Defined by MX.
          example: TAG-40faf068-abb4-405c-8f6a-e883ed541fff
          type:
          - string
          - 'null'
        transaction_guid:
          description: The unique identifier for the transaction. Defined by MX.
          example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
          type:
          - string
          - 'null'
        user_guid:
          description: The unique identifier for the user. Defined by MX.
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          type:
          - string
          - 'null'
      type: object
    PaginationResponse_2:
      properties:
        current_page:
          description: The page delivered by the current response.
          example: 1
          type: integer
        per_page:
          description: The number of records delivered with each page.
          example: 25
          type: integer
        total_entries:
          description: The total number of records available.
          example: 1
          type: integer
        total_pages:
          description: The total number of pages available.
          example: 1
          type: integer
      type: object
    TaggingUpdateRequest_2:
      properties:
        tag_guid:
          description: The unique identifier for the tagging.
          example: TAG-40faf068-abb4-405c-8f6a-e883ed541fff
          type: string
      required:
      - tag_guid
      type: object
    TaggingCreateRequest_2:
      properties:
        tag_guid:
          description: The unique identifier for the tag.
          example: TAG-40faf068-abb4-405c-8f6a-e883ed541fff
          type: string
        transaction_guid:
          description: The unique identifier for the `transaction`.
          example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
          type: string
      required:
      - tag_guid
      - transaction_guid
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      scheme: basic
      type: http
x-refined-from:
- mx-technologies-platform-openapi.yml
- mx-technologies-platform-v20250224-openapi.yml
