openapi: 3.2.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: 'The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.


    Just getting started? See our [use case guides](/use-cases/).

    '
  title: MX Platform accounts investment holdings API
  version: '20111101'
servers:
- url: https://int-api.mx.com
- url: https://api.mx.com
security:
- basicAuth: []
tags:
- name: investment holdings
paths:
  /users/{user_guid}/members/{member_guid}/investment_holdings:
    get:
      description: This endpoint lists all holdings associated with the specified member.
      operationId: listHoldingsByMember
      parameters:
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingsResponseBody'
          description: OK
      summary: List holdings by member
      tags:
      - investment holdings
  /users/{user_guid}/investment_holdings:
    get:
      description: This endpoint lists all holdings associated with the user across all accounts.
      operationId: listHoldings
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingsResponseBody'
          description: OK
      summary: List holdings by user
      tags:
      - investment holdings
  /users/{user_guid}/investment_holdings/{holding_guid}:
    get:
      description: Use this endpoint to read the attributes of a specific `holding`.
      operationId: readHolding
      parameters:
      - $ref: '#/components/parameters/holdingGuid'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingResponseBody'
          description: OK
      summary: Read holding
      tags:
      - investment holdings
  /users/{user_guid}/accounts/{account_guid}/investment_holdings:
    get:
      description: This endpoint lists all holdings associated with the particular account defined.
      operationId: listHoldingsByAccount
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingsResponseBody'
          description: OK
      summary: List holdings by account
      tags:
      - investment holdings
  /users/{user_guid}/investment_holdings_deactivate:
    get:
      description: This endpoint deactivates the specific user from the `/investment_holdings` product. To reactivate a user, use any of the current `/investment_holding` endpoints.
      operationId: deactivateUser
      parameters:
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InvestmentHoldingsDeactivation'
          description: OK
      summary: Deactivate user from Investment Holdings
      tags:
      - investment holdings
components:
  parameters:
    memberGuid:
      description: The unique id for a `member`.
      example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
      in: path
      name: member_guid
      required: true
      schema:
        type: string
    accountGuid:
      description: The unique id for an `account`.
      example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
      in: path
      name: account_guid
      required: true
      schema:
        type: string
    userGuid:
      description: The unique identifier for a `user`, beginning with the prefix `USR-`.
      example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
      in: path
      name: user_guid
      required: true
      schema:
        type: string
    page:
      description: Results are paginated. Specify current page.
      example: 1
      in: query
      name: page
      schema:
        type: integer
    recordsPerPageMax1000:
      description: This specifies the number of records to be returned on each page. Defaults to `25`. The valid range is from `10` to `1000`. If the value exceeds `1000`, the default value of `25` will be used instead.
      example: 10
      in: query
      name: records_per_page
      schema:
        type: integer
    holdingGuid:
      description: The unique id for a `holding`.
      example: HOL-d65683e8-9eab-26bb-bcfd-ced159c9abe2
      in: path
      name: holding_guid
      required: true
      schema:
        type: string
  schemas:
    InvestmentHoldingsResponseBody:
      properties:
        investment_holdings:
          items:
            $ref: '#/components/schemas/InvestmentHoldingResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
    InvestmentHoldingResponse:
      properties:
        account_guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          type:
          - string
          - 'null'
        cost_basis:
          example: 827
          type:
          - number
          - 'null'
        coupon_yield:
          example: null
          type:
          - string
          - 'null'
        currency_code:
          example: USD
          type:
          - string
          - 'null'
        current_price:
          example: 15
          type:
          - number
          - 'null'
        daily_change:
          example: 2.5
          type:
          - number
          - 'null'
        description:
          example: Guggenheim Defensive Equity ETF
          type:
          - string
          - 'null'
        expiration:
          example: null
          type:
          - string
          - 'null'
        face_value:
          example: null
          type:
          - number
          - 'null'
        frequency:
          example: null
          type:
          - string
          - 'null'
        guid:
          example: HOL-d65683e8-9eab-26bb-bcfd-ced159c9abe2
          type:
          - string
          - 'null'
        market_value:
          example: 989.5
          type:
          - number
          - 'null'
        maturity_date:
          example: null
          type:
          - string
          - 'null'
        percentage_change:
          example: 0.2
          type:
          - number
          - 'null'
        purchase_price:
          example: 26.3
          type:
          - number
          - 'null'
        quantity:
          example: '5000.0'
          type:
          - string
          - 'null'
        rate:
          example: null
          type:
          - number
          - 'null'
        strike_price:
          example: null
          type:
          - number
          - 'null'
        symbol:
          example: DEF
          type:
          - string
          - 'null'
        term:
          example: null
          type:
          - string
          - 'null'
        today_ugl_amount:
          example: 200
          type:
          - number
          - 'null'
        today_ugl_percentage:
          example: 0.27
          type:
          - number
          - 'null'
        total_ugl_amount:
          example: 20000
          type:
          - number
          - 'null'
        total_ugl_percentage:
          example: 26.67
          type:
          - number
          - 'null'
        unvested_quantity:
          example: null
          type:
          - number
          - 'null'
        unvested_value:
          example: null
          type:
          - number
          - 'null'
        user_guid:
          example: USR-743e5d7f-1116-28fa-5de1-d3ba02e41d8d
          type:
          - string
          - 'null'
        vested_quantity:
          example: null
          type:
          - number
          - 'null'
        vested_value:
          example: null
          type:
          - number
          - 'null'
        created_at:
          example: '2015-04-13T18:01:23.000Z'
          type:
          - string
          - 'null'
        current_price_as_of:
          example: '2023-11-06T00:00:00Z'
          type:
          - string
          - 'null'
        issue_date:
          example: '2015-08-15'
          type:
          - string
          - 'null'
        vesting_start_date:
          example: null
          type:
          - string
          - 'null'
        vesting_end_date:
          example: null
          type:
          - string
          - 'null'
        put_or_call:
          example: null
          type:
          - string
          - 'null'
        holding_type:
          example: MUTUAL_FUND
          type:
          - string
          - 'null'
        term_unit:
          example: null
          type:
          - string
          - 'null'
      type: object
    InvestmentHoldingsDeactivation:
      properties:
        message:
          example: Successfully deactivated user from billing
        status:
          example: 200
    InvestmentHoldingResponseBody:
      properties:
        investment_holding:
          $ref: '#/components/schemas/InvestmentHoldingResponse'
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      scheme: basic
      type: http
