openapi: 3.0.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: 'The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.


    Just getting started? See our [use case guides](/use-cases/).

    '
  title: MX Platform accounts taggings API
  version: '20111101'
servers:
- url: https://int-api.mx.com
- url: https://api.mx.com
security:
- basicAuth: []
tags:
- name: taggings
paths:
  /users/{user_guid}/taggings:
    get:
      description: Use this endpoint to retrieve a list of all the taggings associated with a specific user.
      operationId: listTaggings
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingsResponseBody'
          description: OK
      summary: List taggings
      tags:
      - taggings
    post:
      description: Use this endpoint to create a new association between a tag and a particular transaction, according to their unique GUIDs.
      operationId: createTagging
      parameters:
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaggingCreateRequestBody'
        description: Tagging object to be created with required parameters (tag_guid and transaction_guid)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingResponseBody'
          description: Accepted
      summary: Create tagging
      tags:
      - taggings
  /users/{user_guid}/taggings/{tagging_guid}:
    delete:
      description: Use this endpoint to delete a tagging according to its unique GUID. If successful, the API will respond with an empty body and a status of 204 NO Content.
      operationId: deleteTagging
      parameters:
      - $ref: '#/components/parameters/taggingGuid'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete tagging
      tags:
      - taggings
    get:
      description: Use this endpoint to read the attributes of a `tagging` according to its unique GUID.
      operationId: readTagging
      parameters:
      - $ref: '#/components/parameters/taggingGuid'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingResponseBody'
          description: OK
      summary: Read tagging
      tags:
      - taggings
    put:
      description: Use this endpoint to update a tagging.
      operationId: updateTagging
      parameters:
      - $ref: '#/components/parameters/taggingGuid'
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaggingUpdateRequestBody'
        description: Tagging object to be updated with required parameter (tag_guid)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TaggingResponseBody'
          description: OK
      summary: Update tagging
      tags:
      - taggings
components:
  schemas:
    TaggingUpdateRequestBody:
      properties:
        tagging:
          $ref: '#/components/schemas/TaggingUpdateRequest'
      type: object
    TaggingResponse:
      properties:
        guid:
          example: TGN-007f5486-17e1-45fc-8b87-8f03984430fe
          nullable: true
          type: string
        member_is_managed_by_user:
          example: false
          nullable: true
          type: boolean
        tag_guid:
          example: TAG-40faf068-abb4-405c-8f6a-e883ed541fff
          nullable: true
          type: string
        transaction_guid:
          example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
          nullable: true
          type: string
        user_guid:
          example: USR-11141024-90b3-1bce-cac9-c06ced52ab4c
          nullable: true
          type: string
      type: object
    TaggingUpdateRequest:
      properties:
        tag_guid:
          example: TAG-40faf068-abb4-405c-8f6a-e883ed541fff
          type: string
      required:
      - tag_guid
      type: object
    TaggingResponseBody:
      properties:
        tagging:
          $ref: '#/components/schemas/TaggingResponse'
      type: object
    TaggingCreateRequestBody:
      properties:
        tagging:
          $ref: '#/components/schemas/TaggingCreateRequest'
      type: object
    TaggingCreateRequest:
      properties:
        tag_guid:
          example: TAG-40faf068-abb4-405c-8f6a-e883ed541fff
          type: string
        transaction_guid:
          example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
          type: string
      required:
      - tag_guid
      - transaction_guid
      type: object
    TaggingsResponseBody:
      properties:
        taggings:
          items:
            $ref: '#/components/schemas/TaggingResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
  parameters:
    page:
      description: Results are paginated. Specify current page.
      example: 1
      in: query
      name: page
      schema:
        type: integer
    taggingGuid:
      description: The unique id for a `tagging`.
      example: TGN-007f5486-17e1-45fc-8b87-8f03984430fe
      in: path
      name: tagging_guid
      required: true
      schema:
        type: string
    recordsPerPageMax1000:
      description: This specifies the number of records to be returned on each page. Defaults to `25`. The valid range is from `10` to `1000`. If the value exceeds `1000`, the default value of `25` will be used instead.
      example: 10
      in: query
      name: records_per_page
      schema:
        type: integer
    userGuid:
      description: The unique identifier for a `user`, beginning with the prefix `USR-`.
      example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
      in: path
      name: user_guid
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      scheme: basic
      type: http
