openapi: 3.2.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: 'The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.


    Just getting started? See our [use case guides](/use-cases/).

    '
  title: MX Platform accounts Insights API
  version: '20111101'
servers:
- url: https://int-api.mx.com
- url: https://api.mx.com
security:
- basicAuth: []
tags:
- name: insights
paths:
  /users/{user_guid}/accounts/{account_guid}/insights:
    get:
      description: Use this endpoint to list all insights associated with an account GUID.
      operationId: listInsightsByAccount
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightsResponseBody'
          description: OK
      summary: List insights by account
      tags:
      - insights
  /users/{user_guid}/insights:
    get:
      description: Use this endpoint to list all the insights associated with the user.
      operationId: listInsightsUser
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightsResponseBody'
          description: OK
      summary: List all insights for a user
      tags:
      - insights
  /users/{user_guid}/insights/{insight_guid}/categories:
    get:
      description: Use this endpoint to list all the categories associated with the insight.
      operationId: listCategoriesInsight
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/CategoriesResponseBody'
          description: OK
      summary: List all categories associated with an insight
      tags:
      - insights
  /users/{user_guid}/insights/{insight_guid}/accounts:
    get:
      description: Use this endpoint to list all the accounts associated with the insight.
      operationId: listAccountsInsight
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List all accounts associated with an insight
      tags:
      - insights
  /users/{user_guid}/insights/{insight_guid}/merchants:
    get:
      description: Use this endpoint to list all the merchants associated with the insight.
      operationId: listMerchantsInsight
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MerchantsResponseBody'
          description: OK
      summary: List all merchants associated with an insight
      tags:
      - insights
  /users/{user_guid}/insights/{insight_guid}/scheduled_payments:
    get:
      description: Use this endpoint to list all the scheduled payments associated with the insight.
      operationId: listScheduledPaymentsInsight
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/ScheduledPaymentsResponseBody'
          description: OK
      summary: List all scheduled payments associated with an insight
      tags:
      - insights
  /users/{user_guid}/insights/{insight_guid}/transactions:
    get:
      description: Use this endpoint to list all the transactions associated with the insight.
      operationId: listTransactionsInsight
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBody'
          description: OK
      summary: List all transactions associated with an insight
      tags:
      - insights
  /users/{user_guid}/insights/{insight_guid}:
    get:
      description: Use this endpoint to read the attributes of an insight according to its unique GUID.
      operationId: readInsightUser
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightResponseBody'
          description: OK
      summary: Read insight
      tags:
      - insights
    put:
      description: Use this endpoint to update the attributes of an insight according to its unique GUID.
      operationId: updateInsight
      parameters:
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/insightGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsightUpdateRequestBody'
        description: The insight to be updated (None of these parameters are required, but the user object cannot be empty.)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightResponse'
          description: OK
      summary: Update insight
      tags:
      - insights
  /users/{user_guid}/transactions/{transaction_guid}/insights:
    get:
      description: Use this endpoint to list all insights associated with a transaction GUID.
      operationId: listInsightsByTransaction
      parameters:
      - $ref: '#/components/parameters/transactionGuid'
      - $ref: '#/components/parameters/userGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPage'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InsightsResponseBody'
          description: OK
      summary: List insights by transaction
      tags:
      - insights
components:
  schemas:
    ScheduledPaymentResponse:
      properties:
        amount:
          example: 13.54
          type: number
        created_at:
          example: '2023-04-27T23:14:16Z'
          type: string
        description:
          example: Netflix
          type: string
        guid:
          example: SPA-c76e4a85-b2c4-4335-82b7-8f8b8f28c35a
          type: string
        is_completed:
          example: false
          type: boolean
        is_recurring:
          example: true
          type: boolean
        merchant_guid:
          example: MCH-b8a2624c-2176-59ec-c150-37854bc38aa8
          type: string
        occurs_on:
          example: '2022-01-15'
          type: string
        recurrence_day:
          example: 15
          type: integer
        recurrence_type:
          example: EVERY_MONTH
          type: string
        transaction_type:
          example: DEBIT
          type: string
        updated_at:
          example: '2023-04-27T23:14:16Z'
          type: string
        user_guid:
          example: USR-72086f59-6684-4adf-8f29-c4d32db43cd7
          type: string
      type: object
    MerchantsResponseBody:
      properties:
        merchants:
          items:
            $ref: '#/components/schemas/MerchantResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    ScheduledPaymentsResponseBody:
      properties:
        scheduled_payments:
          items:
            $ref: '#/components/schemas/ScheduledPaymentResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    TransactionResponse:
      properties:
        account_guid:
          example: ACT-0af29528-bb91-447f-b5de-85c1c42593e5
          type:
          - string
          - 'null'
        account_id:
          example: FdvkkAgLS0nbDNUujrblz6rYDSl5w-tTLwYRgIxe7jw
          type:
          - string
          - 'null'
        amount:
          example: 5003.9
          type:
          - number
          - 'null'
        category:
          example: Paycheck
          type:
          - string
          - 'null'
        category_guid:
          example: CAT-982ea9e6-3f0e-0c5b-611b-6657a10ba819
          type:
          - string
          - 'null'
        check_number_string:
          example: null
          type:
          - string
          - 'null'
        created_at:
          example: '2024-12-20T18:52:36Z'
          type:
          - string
          - 'null'
        currency_code:
          example: null
          type:
          - string
          - 'null'
        date:
          example: '2024-12-20'
          type:
          - string
          - 'null'
        description:
          example: MX Technologies
          type:
          - string
          - 'null'
        extended_transaction_type:
          example: null
          type:
          - string
          - 'null'
        guid:
          example: TRN-429ad9fe-a1d2-4559-8590-885b2603f0e1
          type:
          - string
          - 'null'
        id:
          example: 1734681600000-178fa8095c154a55b9172f977b4c5f9a-0
          type:
          - string
          - 'null'
        is_bill_pay:
          example: false
          type:
          - boolean
          - 'null'
        is_direct_deposit:
          example: false
          type:
          - boolean
          - 'null'
        is_expense:
          example: false
          type:
          - boolean
          - 'null'
        is_fee:
          example: false
          type:
          - boolean
          - 'null'
        is_income:
          example: true
          type:
          - boolean
          - 'null'
        is_international:
          example: null
          type:
          - boolean
          - 'null'
        is_manual:
          example: false
          type:
          - boolean
          - 'null'
        is_overdraft_fee:
          example: false
          type:
          - boolean
          - 'null'
        is_payroll_advance:
          example: false
          type:
          - boolean
          - 'null'
        is_recurring:
          example: null
          type:
          - boolean
          - 'null'
        is_subscription:
          example: false
          type:
          - boolean
          - 'null'
        latitude:
          example: null
          type:
          - number
          - 'null'
        localized_description:
          example: null
          type:
          - string
          - 'null'
        localized_memo:
          example: null
          type:
          - string
          - 'null'
        longitude:
          example: null
          type:
          - number
          - 'null'
        member_guid:
          example: MBR-78b14c5f-7297-4fb5-a966-65ac45f74d8
          type:
          - string
          - 'null'
        member_is_managed_by_user:
          example: true
          type:
          - boolean
          - 'null'
        memo:
          example: Transactions
          type:
          - string
          - 'null'
        merchant_category_code:
          example: null
          type:
          - integer
          - 'null'
        merchant_guid:
          example: MCH-8cc3b01a-1c52-47d4-970d-30f8ee5566f1
          type:
          - string
          - 'null'
        merchant_location_guid:
          example: null
          type:
          - string
          - 'null'
        metadata:
          example: null
          type:
          - string
          - 'null'
        original_description:
          example: MX TECHNOLOGIES PAYMENT
          type:
          - string
          - 'null'
        posted_at:
          example: '2024-12-20T12:00:00Z'
          type:
          - string
          - 'null'
        status:
          example: POSTED
          type:
          - string
          - 'null'
        top_level_category:
          example: Income
          type:
          - string
          - 'null'
        transacted_at:
          example: '2024-12-20T12:00:00Z'
          type:
          - string
          - 'null'
        type:
          example: CREDIT
          type:
          - string
          - 'null'
        updated_at:
          example: '2024-12-20T18:52:38Z'
          type:
          - string
          - 'null'
        user_guid:
          example: USR-ef7a82f6-d6c1-42c4-9061-bdece5c4d44e
          type:
          - string
          - 'null'
        user_id:
          example: null
          type:
          - string
          - 'null'
      type: object
    InsightResponse:
      properties:
        active_at:
          example: '2022-01-07T12:00:00Z'
          type:
          - string
          - 'null'
        client_guid:
          example: CLT-abcd-1234
          type:
          - string
          - 'null'
        created_at:
          example: '2022-01-12T18:16:51Z'
          type:
          - string
          - 'null'
        cta_clicked_at:
          example: '2022-01-13T18:13:51Z'
          type:
          - string
          - 'null'
        description:
          example: Gold's Gym charged you $36.71 more this month than normal. Did you upgrade your service?
          type:
          - string
          - 'null'
        guid:
          example: BET-abcd-1234
          type:
          - string
          - 'null'
        has_associated_accounts:
          example: false
          type:
          - boolean
          - 'null'
        has_associated_categories:
          example: false
          type:
          - boolean
          - 'null'
        has_associated_merchants:
          example: false
          type:
          - boolean
          - 'null'
        has_associated_scheduled_payments:
          example: false
          type:
          - boolean
          - 'null'
        has_associated_transactions:
          example: true
          type:
          - boolean
          - 'null'
        has_been_displayed:
          example: true
          type:
          - boolean
          - 'null'
        is_dismissed:
          example: false
          type:
          - boolean
          - 'null'
        micro_call_to_action:
          example: Learn more
          type:
          - string
          - 'null'
        micro_description:
          example: Netflix charged you $5.00 more this month than normal.
          type:
          - string
          - 'null'
        micro_title:
          example: Price increase
          type:
          - string
          - 'null'
        template:
          example: SubscriptionPriceIncrease
          type:
          - string
          - 'null'
        title:
          example: Price increase
          type:
          - string
          - 'null'
        updated_at:
          example: '2022-01-12T18:16:51Z'
          type:
          - string
          - 'null'
        user_guid:
          example: USR-1234-abcd
          type: string
        user_id:
          example: user-partner-defined-1234
      type: object
    InsightResponseBody:
      properties:
        insight:
          $ref: '#/components/schemas/InsightResponse'
      type: object
    CategoryResponse:
      properties:
        created_at:
          description: Category creation date-time.
          example: '2015-04-13T18:01:23.000Z'
          type:
          - string
          - 'null'
        guid:
          example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
          type:
          - string
          - 'null'
        is_default:
          example: true
          type:
          - boolean
          - 'null'
        is_income:
          example: false
          type:
          - boolean
          - 'null'
        metadata:
          example: some metadata
          type:
          - string
          - 'null'
        name:
          example: Auto Insurance
          type:
          - string
          - 'null'
        parent_guid:
          example: CAT-7829f71c-2e8c-afa5-2f55-fa3634b89874
          type:
          - string
          - 'null'
        updated_at:
          example: '2015-05-13T18:01:23.000Z'
          type:
          - string
          - 'null'
      type: object
    AccountResponse:
      properties:
        account_number:
          example: '5366'
          type:
          - string
          - 'null'
        account_number_set_by:
          example: 1
          type:
          - integer
          - 'null'
        account_ownership:
          example: INDIVIDUAL
          type:
          - string
          - 'null'
        annuity_policy_to_date:
          example: '2016-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        annuity_provider:
          example: Metlife
          type:
          - string
          - 'null'
        annuity_term_year:
          example: 2048
          type:
          - integer
          - 'null'
        apr:
          example: 1
          type:
          - number
          - 'null'
        apr_set_by:
          example: 1
          type:
          - integer
          - 'null'
        apy:
          example: 1
          type:
          - number
          - 'null'
        apy_set_by:
          example: 1
          type:
          - integer
          - 'null'
        available_balance:
          example: 1000
          type:
          - number
          - 'null'
        available_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        available_credit:
          example: 1000
          type:
          - number
          - 'null'
        available_credit_set_by:
          example: 1
          type:
          - integer
          - 'null'
        balance:
          example: 10000
          type:
          - number
          - 'null'
        balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        calculated_apr:
          example: 21.66409
          type:
          - number
          - 'null'
        cash_balance:
          example: 1000
          type:
          - number
          - 'null'
        cash_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        cash_surrender_value:
          example: 1000
          type:
          - number
          - 'null'
        cash_surrender_value_set_by:
          example: 1
          type:
          - integer
          - 'null'
        created_at:
          example: '2023-07-25T17:14:46Z'
          type: string
        credit_limit:
          example: 100
          type:
          - number
          - 'null'
        credit_limit_set_by:
          example: 1
          type:
          - integer
          - 'null'
        currency_code:
          example: USD
          type:
          - string
          - 'null'
        currency_code_set_by:
          example: 1
          type:
          - integer
          - 'null'
        day_payment_is_due:
          example: 20
          type:
          - integer
          - 'null'
        day_payment_is_due_set_by:
          example: 1
          type:
          - integer
          - 'null'
        death_benefit:
          example: 1000
          type:
          - integer
          - 'null'
        death_benefit_set_by:
          example: 1
          type:
          - integer
          - 'null'
        federal_insurance_status:
          example: INSURED
          type:
          - string
          - 'null'
        feed_account_number:
          example: '5366'
          type:
          - string
          - 'null'
        feed_account_subtype:
          example: 1
          type:
          - integer
          - 'null'
        feed_account_type:
          example: 1
          type:
          - integer
          - 'null'
        feed_apr:
          example: 1
          type:
          - number
          - 'null'
        feed_apy:
          example: 1
          type:
          - number
          - 'null'
        feed_available_balance:
          example: 1000
          type:
          - number
          - 'null'
        feed_balance:
          example: 1000
          type:
          - number
          - 'null'
        feed_cash_balance:
          example: 1000
          type:
          - number
          - 'null'
        feed_cash_surrender_value:
          example: 1000
          type:
          - number
          - 'null'
        feed_credit_limit:
          example: 100
          type:
          - number
          - 'null'
        feed_currency_code:
          example: USD
          type:
          - string
          - 'null'
        feed_day_payment_is_due:
          example: 20
          type:
          - integer
          - 'null'
        feed_death_benefit:
          example: 1000
          type:
          - integer
          - 'null'
        feed_holdings_value:
          example: 1000
          type:
          - number
          - 'null'
        feed_interest_rate:
          example: 1
          type:
          - number
          - 'null'
        feed_is_closed:
          example: false
          type:
          - boolean
          - 'null'
        feed_last_payment:
          example: 100
          type:
          - number
          - 'null'
        feed_last_payment_at:
          example: '2023-07-25T17:14:46Z'
          type:
          - string
          - 'null'
        feed_loan_amount:
          example: 1000
          type:
          - number
          - 'null'
        feed_matures_on:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        feed_minimum_balance:
          example: 100
          type:
          - number
          - 'null'
        feed_minimum_payment:
          example: 10
          type:
          - number
          - 'null'
        feed_name:
          example: Test account 2
          type:
          - string
          - 'null'
        feed_nickname:
          example: My Checking
          type:
          - string
          - 'null'
        feed_original_balance:
          example: 10
          type:
          - number
          - 'null'
        feed_payment_due_at:
          example: '2025-02-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        feed_payoff_balance:
          example: 10
          type:
          - number
          - 'null'
        feed_routing_number:
          example: '68899990000000'
          type:
          - string
          - 'null'
        feed_started_on:
          example: '2020-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        feed_statement_balance:
          example: 100
          type:
          - number
          - 'null'
        feed_total_account_value:
          example: 100
          type:
          - number
          - 'null'
        guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          type:
          - string
          - 'null'
        holdings_value:
          example: 1000
          type:
          - number
          - 'null'
        holdings_value_set_by:
          example: 1
          type:
          - integer
          - 'null'
        id:
          example: '1040434698'
          type:
          - string
          - 'null'
        imported_at:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        institution_code:
          example: 3af3685e-05d9-7060-359f-008d0755e993
          type:
          - string
          - 'null'
        institution_guid:
          example: INS-12a3b-4c5dd6-1349-008d0755e993
          type:
          - string
          - 'null'
        insured_name:
          example: Tommy Shelby
          type:
          - string
          - 'null'
        interest_rate:
          example: 1
          type:
          - number
          - 'null'
        interest_rate_set_by:
          example: 1
          type:
          - integer
          - 'null'
        is_closed:
          example: false
          type:
          - boolean
          - 'null'
        is_closed_set_by:
          example: 1
          type:
          - integer
          - 'null'
        is_hidden:
          example: false
          type:
          - boolean
          - 'null'
        is_manual:
          example: false
          type:
          - boolean
          - 'null'
        last_payment:
          example: 100
          type:
          - number
          - 'null'
        last_payment_set_by:
          example: 1
          type:
          - integer
          - 'null'
        last_payment_at:
          example: '2023-07-25T17:14:46Z'
          type:
          - string
          - 'null'
        last_payment_at_set_by:
          example: 1
          type:
          - integer
          - 'null'
        loan_amount:
          example: 1000
          type:
          - number
          - 'null'
        loan_amount_set_by:
          example: 1
          type:
          - integer
          - 'null'
        margin_balance:
          example: 1000
          type:
          - number
          - 'null'
        matures_on:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        matures_on_set_by:
          example: 1
          type:
          - integer
          - 'null'
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          type:
          - string
          - 'null'
        member_id:
          example: member123
          type:
          - string
          - 'null'
        member_is_managed_by_user:
          example: false
          type:
          - boolean
          - 'null'
        metadata:
          example: some metadata
          type:
          - string
          - 'null'
        minimum_balance:
          example: 100
          type:
          - number
          - 'null'
        minimum_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        minimum_payment:
          example: 10
          type:
          - number
          - 'null'
        minimum_payment_set_by:
          example: 1
          type:
          - integer
          - 'null'
        name:
          example: Test account 2
          type:
          - string
          - 'null'
        name_set_by:
          example: 1
          type:
          - integer
          - 'null'
        nickname:
          example: My Checking
          type:
          - string
          - 'null'
        nickname_set_by:
          example: 1
          type:
          - integer
          - 'null'
        original_balance:
          example: 10
          type:
          - number
          - 'null'
        original_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        pay_out_amount:
          example: 10
          type:
          - number
          - 'null'
        payment_due_at:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        payment_due_at_set_by:
          example: 1
          type:
          - integer
          - 'null'
        payoff_balance:
          example: 10
          type:
          - number
          - 'null'
        payoff_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        premium_amount:
          example: 3900
          type:
          - number
          - 'null'
        property_type:
          example: VEHICLE
          type:
          - string
          - 'null'
        routing_number:
          example: '68899990000000'
          type:
          - string
          - 'null'
        started_on:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        started_on_set_by:
          example: 1
          type:
          - integer
          - 'null'
        statement_balance:
          example: 1000.5
          type:
          - number
          - 'null'
        statement_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        subtype:
          example: NONE
          type:
          - string
          - 'null'
        subtype_set_by:
          example: 1
          type:
          - integer
          - 'null'
        today_ugl_amount:
          example: 1000.5
          type:
          - number
          - 'null'
        today_ugl_percentage:
          example: 6.9
          type:
          - number
          - 'null'
        total_account_value:
          example: 1
          type:
          - number
          - 'null'
        total_account_value_set_by:
          example: 1
          type:
          - integer
          - 'null'
        total_account_value_ugl:
          example: 1
          type:
          - number
          - 'null'
        type:
          example: SAVINGS
          type:
          - string
          - 'null'
        type_set_by:
          example: 1
          type:
          - integer
          - 'null'
        updated_at:
          example: '2016-10-13T18:08:00.000Z'
          type:
          - string
          - 'null'
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          type:
          - string
          - 'null'
        user_id:
          example: user123
          type:
          - string
          - 'null'
      type: object
    InsightUpdateRequest:
      properties:
        has_been_displayed:
          example: false
          type: boolean
        is_dismissed:
          example: false
          type: boolean
    AccountsResponseBody:
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/AccountResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    MerchantResponse:
      properties:
        created_at:
          example: '2017-04-20T19:30:12.000Z'
          type:
          - string
          - 'null'
        guid:
          example: MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b
          type:
          - string
          - 'null'
        logo_url:
          example: https://s3.amazonaws.com/MD_Assets/merchant_logos/comcast.png
          type:
          - string
          - 'null'
        name:
          example: Comcast
          type:
          - string
          - 'null'
        updated_at:
          example: '2018-09-28T21:13:53.000Z'
          type:
          - string
          - 'null'
        website_url:
          example: https://www.xfinity.com
          type:
          - string
          - 'null'
      type: object
    InsightsResponseBody:
      properties:
        insights:
          items:
            $ref: '#/components/schemas/InsightResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    InsightUpdateRequestBody:
      properties:
        insight:
          $ref: '#/components/schemas/InsightUpdateRequest'
      type: object
    CategoriesResponseBody:
      properties:
        categories:
          items:
            $ref: '#/components/schemas/CategoryResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    TransactionsResponseBody:
      properties:
        transactions:
          items:
            $ref: '#/components/schemas/TransactionResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
  parameters:
    recordsPerPage:
      description: This specifies the number of records to be returned on each page. Defaults to `25`. The valid range is from `10` to `100`. If the value exceeds `100`, the default value of `25` will be used instead.
      example: 10
      in: query
      name: records_per_page
      schema:
        type: integer
    insightGuid:
      description: The unique identifier for the insight. Defined by MX.
      example: BET-1234-abcd
      in: path
      name: insight_guid
      required: true
      schema:
        type: string
    page:
      description: Results are paginated. Specify current page.
      example: 1
      in: query
      name: page
      schema:
        type: integer
    accountGuid:
      description: The unique id for an `account`.
      example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
      in: path
      name: account_guid
      required: true
      schema:
        type: string
    transactionGuid:
      description: The unique id for a `transaction`.
      example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
      in: path
      name: transaction_guid
      required: true
      schema:
        type: string
    userGuid:
      description: The unique identifier for a `user`, beginning with the prefix `USR-`.
      example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
      in: path
      name: user_guid
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      scheme: basic
      type: http
