openapi: 3.2.0
info:
  title: Mx Technologies Tags API
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  version: '1.0'
  description: 'Operations tagged tags across 2 of this provider''s published API definitions: mx-technologies-platform-openapi.yml, mx-technologies-platform-v20250224-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://int-api.mx.com
- url: https://api.mx.com
security:
- basicAuth: []
tags:
- name: Tags
paths:
  /users/{user_guid}/tags:
    get:
      description: Use this endpoint to list all tags associated with the specified `user`. Each user includes the `Business` tag by default.
      operationId: listTags
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TagsResponseBody'
          description: OK
      summary: List tags
      tags:
      - Tags
    post:
      description: Use this endpoint to create a new custom tag.
      operationId: createTag
      parameters:
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagCreateRequestBody'
        description: Tag object to be created with required parameters (tag_guid)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TagResponseBody'
          description: OK
      summary: Create tag
      tags:
      - Tags
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
  /users/{user_guid}/tags/{tag_guid}:
    delete:
      description: Use this endpoint to permanently delete a specific tag based on its unique GUID. If successful, the API will respond with status of `204 No Content`.
      operationId: deleteTag
      parameters:
      - $ref: '#/components/parameters/tagGuid'
      - $ref: '#/components/parameters/acceptHeader'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete tag
      tags:
      - Tags
    get:
      description: Use this endpoint to read the attributes of a particular tag according to its unique GUID.
      operationId: readTag
      parameters:
      - $ref: '#/components/parameters/tagGuid'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TagResponseBody'
          description: OK
      summary: Read tag
      tags:
      - Tags
    put:
      description: Use this endpoint to update the name of a specific tag according to its unique GUID.
      operationId: updateTag
      parameters:
      - $ref: '#/components/parameters/tagGuid'
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagUpdateRequestBody'
        description: Tag object to be updated with required parameter (tag_guid)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TagResponseBody'
          description: OK
      summary: Update tag
      tags:
      - Tags
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
components:
  parameters:
    recordsPerPageMax1000:
      description: This specifies the number of records to be returned on each page. Defaults to `25`. The valid range is from `10` to `1000`. If the value exceeds `1000`, the default value of `25` will be used instead.
      example: 10
      in: query
      name: records_per_page
      schema:
        type: integer
    page:
      description: Results are paginated. Specify current page.
      example: 1
      in: query
      name: page
      schema:
        type: integer
    acceptHeader:
      description: Specifies the media type expected in the response.
      in: header
      name: Accept
      required: true
      schema:
        type: string
        example: application/vnd.mx.api.v1+json
    userGuid:
      description: The unique identifier for a `user`, beginning with the prefix `USR-`.
      example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
      in: path
      name: user_guid
      required: true
      schema:
        type: string
    tagGuid:
      description: The unique id for a `tag`.
      example: TAG-aef36e72-6294-4c38-844d-e573e80aed52
      in: path
      name: tag_guid
      required: true
      schema:
        type: string
    acceptVersion:
      name: Accept-Version
      in: header
      required: true
      schema:
        type: string
        default: v20250224
        example: v20250224
      description: MX Platform API version.
    acceptHeader_2:
      description: Specifies the media type expected in the response.
      in: header
      name: Accept
      required: true
      schema:
        type: string
        example: application/json
  schemas:
    TagCreateRequestBody:
      properties:
        tag:
          $ref: '#/components/schemas/TagCreateRequest'
      type: object
    TagResponse:
      properties:
        guid:
          example: TAG-aef36e72-6294-4c38-844d-e573e80aed52
          type:
          - string
          - 'null'
        name:
          example: MY TAG
          type:
          - string
          - 'null'
        user_guid:
          example: USR-11141024-90b3-1bce-cac9-c06ced52ab4c
          type:
          - string
          - 'null'
      type: object
    TagResponseBody:
      properties:
        tag:
          $ref: '#/components/schemas/TagResponse'
      type: object
    TagsResponseBody:
      properties:
        tags:
          items:
            $ref: '#/components/schemas/TagResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    TagUpdateRequest:
      properties:
        name:
          example: MY TAG
          type: string
      required:
      - name
      type: object
    TagUpdateRequestBody:
      properties:
        tag:
          $ref: '#/components/schemas/TagUpdateRequest'
      type: object
    TagCreateRequest:
      properties:
        name:
          example: MY TAG
          type: string
      required:
      - name
      type: object
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
    TagResponse_2:
      properties:
        guid:
          description: The unique identifier for the tag. Defined by MX.
          example: TAG-aef36e72-6294-4c38-844d-e573e80aed52
          type:
          - string
          - 'null'
        name:
          description: The name of the tag.
          example: MY TAG
          type:
          - string
          - 'null'
        user_guid:
          description: The unique identifier for the user. Defined by MX.
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          type:
          - string
          - 'null'
      type: object
    TagUpdateRequest_2:
      properties:
        name:
          description: The name of the tag.
          example: MY TAG
          type: string
      required:
      - name
      type: object
    TagCreateRequest_2:
      properties:
        name:
          description: The name of the tag.
          example: MY TAG
          type: string
      required:
      - name
      type: object
    PaginationResponse_2:
      properties:
        current_page:
          description: The page delivered by the current response.
          example: 1
          type: integer
        per_page:
          description: The number of records delivered with each page.
          example: 25
          type: integer
        total_entries:
          description: The total number of records available.
          example: 1
          type: integer
        total_pages:
          description: The total number of pages available.
          example: 1
          type: integer
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      scheme: basic
      type: http
x-refined-from:
- mx-technologies-platform-openapi.yml
- mx-technologies-platform-v20250224-openapi.yml
