openapi: 3.2.0
info:
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  description: 'The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.


    Just getting started? See our [use case guides](/use-cases/).

    '
  title: MX Platform accounts managed data API
  version: '20111101'
servers:
- url: https://int-api.mx.com
- url: https://api.mx.com
security:
- basicAuth: []
tags:
- name: managed data
paths:
  /managed_institutions:
    get:
      description: This endpoint returns a list of institutions which can be used to create partner-managed members.
      operationId: listManagedInstitutions
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/InstitutionsResponseBody'
          description: OK
      summary: List managed institutions
      tags:
      - managed data
  /users/{user_guid}/managed_members:
    get:
      description: This endpoint returns a list of all the partner-managed members associated with the specified `user`.
      operationId: listManagedMembers
      parameters:
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MembersResponseBody'
          description: OK
      summary: List managed members
      tags:
      - managed data
    post:
      description: Use this endpoint to create a new partner-managed `member`.
      operationId: createManagedMember
      parameters:
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedMemberCreateRequestBody'
        description: Managed member to be created.
        required: true
      responses:
        '202':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Create managed member
      tags:
      - managed data
  /users/{user_guid}/managed_members/{member_guid}:
    delete:
      description: Use this endpoint to delete the specified partner-managed `member`. The endpoint will respond with a status of `204 No Content` without a resource.
      operationId: deleteManagedMember
      parameters:
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/acceptHeader'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete managed member
      tags:
      - managed data
    get:
      description: This endpoint returns the attributes of the specified partner-managed`member`.
      operationId: readManagedMember
      parameters:
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Read managed member
      tags:
      - managed data
    put:
      description: Use this endpoint to update the attributes of the specified partner_managed `member`.
      operationId: updateManagedMember
      parameters:
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedMemberUpdateRequestBody'
        description: Managed member object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/MemberResponseBody'
          description: OK
      summary: Update managed member
      tags:
      - managed data
  /users/{user_guid}/managed_members/{member_guid}/accounts:
    get:
      description: Use this endpoint to retrieve a list of all the partner-managed accounts associated with the given partner-managed member.
      operationId: listManagedAccounts
      parameters:
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountsResponseBody'
          description: OK
      summary: List managed accounts
      tags:
      - managed data
    post:
      description: Use this endpoint to create a partner-managed account.
      operationId: createManagedAccount
      parameters:
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedAccountCreateRequestBody'
        description: Managed account to be created.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Create managed account
      tags:
      - managed data
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}:
    delete:
      description: Use this endpoint to delete a partner-managed account according to its unique GUID. If successful, the API will respond with a status of `204 No Content`.
      operationId: deleteManagedAccount
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete managed account
      tags:
      - managed data
    get:
      description: Use this endpoint to read the attributes of a partner-managed account according to its unique guid.
      operationId: readManagedAccount
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Read managed account
      tags:
      - managed data
    put:
      description: Use this endpoint to update the attributes of a partner-managed account according to its unique GUID.
      operationId: updateManagedAccount
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedAccountUpdateRequestBody'
        description: Managed account object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/AccountResponseBody'
          description: OK
      summary: Update managed account
      tags:
      - managed data
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions:
    get:
      description: This endpoint returns a list of all the partner-managed transactions associated with the specified `account`, scoped through a `user` and a `member`.
      operationId: listManagedTransactions
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/fromDate'
      - $ref: '#/components/parameters/toDate'
      - $ref: '#/components/parameters/recordsPerPageMax1000'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionsResponseBody'
          description: OK
      summary: List managed transactions
      tags:
      - managed data
    post:
      description: Use this endpoint to create a new partner-managed `transaction`.
      operationId: createManagedTransaction
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedTransactionCreateRequestBody'
        description: Managed transaction to be created.
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Create managed transaction
      tags:
      - managed data
  /users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions/{transaction_guid}:
    delete:
      description: Use this endpoint to delete the specified partner-managed `transaction`. The endpoint will respond with a status of `204 No Content` without a resource.
      operationId: deleteManagedTransaction
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/transactionGuid'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '204':
          description: No Content
      summary: Delete managed transaction
      tags:
      - managed data
    get:
      description: Requests to this endpoint will return the attributes of the specified partner-managed `transaction`.
      operationId: readManagedTransaction
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/transactionGuid'
      - $ref: '#/components/parameters/userGuid'
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Read managed transaction
      tags:
      - managed data
    put:
      description: Use this endpoint to update the attributes of the specified partner_managed `transaction`.
      operationId: updateManagedTransaction
      parameters:
      - $ref: '#/components/parameters/accountGuid'
      - $ref: '#/components/parameters/memberGuid'
      - $ref: '#/components/parameters/transactionGuid'
      - $ref: '#/components/parameters/userGuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagedTransactionUpdateRequestBody'
        description: Managed transaction object to be updated (While no single parameter is required, the request body can't be empty)
        required: true
      responses:
        '200':
          content:
            application/vnd.mx.api.v1+json:
              schema:
                $ref: '#/components/schemas/TransactionResponseBody'
          description: OK
      summary: Update managed transaction
      tags:
      - managed data
components:
  schemas:
    ManagedMemberCreateRequest:
      properties:
        id:
          example: member123
          type: string
        institution_code:
          example: mxbank
          type: string
        metadata:
          example: some metadata
          type: string
        name:
          example: MX Bank
          type: string
      required:
      - institution_code
      type: object
    ManagedTransactionCreateRequestBody:
      properties:
        transaction:
          $ref: '#/components/schemas/ManagedTransactionCreateRequest'
      type: object
    ManagedMemberUpdateRequest:
      properties:
        id:
          example: member123
          type: string
        metadata:
          example: some metadata
          type: string
        name:
          example: MX Bank
          type: string
      type: object
    ManagedAccountCreateRequest:
      properties:
        account_number:
          example: '5366'
          type: string
        apr:
          example: 1
          type: number
        apy:
          example: 1
          type: number
        available_balance:
          example: 1000
          type: number
        available_credit:
          example: 1000
          type: number
        balance:
          example: 1000
          type: number
        cash_surrender_value:
          example: 1000
          type: number
        credit_limit:
          example: 100
          type: number
        currency_code:
          example: USD
          type: string
        day_payment_is_due:
          example: 20
          type: integer
        death_benefit:
          example: 1000
          type: integer
        id:
          example: '1040434698'
          type: string
        interest_rate:
          example: 1
          type: number
        is_closed:
          example: false
          type: boolean
        is_hidden:
          example: false
          type: boolean
        last_payment:
          example: 100
          type: number
        last_payment_at:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        loan_amount:
          example: 1000
          type: number
        matures_on:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        metadata:
          example: some metadata
          type: string
        minimum_balance:
          example: 100
          type: number
        minimum_payment:
          example: 10
          type: number
        name:
          example: Test account 2
          type: string
        nickname:
          example: Swiss Account
          type: string
        original_balance:
          example: 10
          type: number
        payment_due_at:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        payoff_balance:
          example: 10
          type: number
        routing_number:
          example: '68899990000000'
          type: string
        started_on:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        subtype:
          example: NONE
          type: string
        type:
          example: SAVINGS
          type: string
      required:
      - balance
      - id
      - name
      - type
      type: object
    ManagedAccountUpdateRequest:
      properties:
        account_number:
          example: '5366'
          type: string
        apr:
          example: 1
          type: number
        apy:
          example: 1
          type: number
        available_balance:
          example: 1000
          type: number
        available_credit:
          example: 1000
          type: number
        balance:
          example: 1000
          type: number
        cash_surrender_value:
          example: 1000
          type: number
        credit_limit:
          example: 100
          type: number
        currency_code:
          example: USD
          type: string
        day_payment_is_due:
          example: 20
          type: integer
        death_benefit:
          example: 1000
          type: integer
        id:
          example: '1040434698'
          type: string
        interest_rate:
          example: 1
          type: number
        is_closed:
          example: false
          type: boolean
        is_hidden:
          example: false
          type: boolean
        last_payment:
          example: 100
          type: number
        last_payment_at:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        loan_amount:
          example: 1000
          type: number
        matures_on:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        metadata:
          example: some metadata
          type: string
        minimum_balance:
          example: 100
          type: number
        minimum_payment:
          example: 10
          type: number
        name:
          example: Test account 2
          type: string
        nickname:
          example: Swiss Account
          type: string
        original_balance:
          example: 10
          type: number
        payment_due_at:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        payoff_balance:
          example: 10
          type: number
        routing_number:
          example: '68899990000000'
          type: string
        started_on:
          example: '2015-10-13T17:57:37.000Z'
          type: string
        subtype:
          example: NONE
          type: string
        type:
          example: SAVINGS
          type: string
      type: object
    ManagedMemberUpdateRequestBody:
      properties:
        member:
          $ref: '#/components/schemas/ManagedMemberUpdateRequest'
      type: object
    ManagedAccountUpdateRequestBody:
      properties:
        account:
          $ref: '#/components/schemas/ManagedAccountUpdateRequest'
      type: object
    TransactionResponse:
      properties:
        account_guid:
          example: ACT-0af29528-bb91-447f-b5de-85c1c42593e5
          type:
          - string
          - 'null'
        account_id:
          example: FdvkkAgLS0nbDNUujrblz6rYDSl5w-tTLwYRgIxe7jw
          type:
          - string
          - 'null'
        amount:
          example: 5003.9
          type:
          - number
          - 'null'
        category:
          example: Paycheck
          type:
          - string
          - 'null'
        category_guid:
          example: CAT-982ea9e6-3f0e-0c5b-611b-6657a10ba819
          type:
          - string
          - 'null'
        check_number_string:
          example: null
          type:
          - string
          - 'null'
        created_at:
          example: '2024-12-20T18:52:36Z'
          type:
          - string
          - 'null'
        currency_code:
          example: null
          type:
          - string
          - 'null'
        date:
          example: '2024-12-20'
          type:
          - string
          - 'null'
        description:
          example: MX Technologies
          type:
          - string
          - 'null'
        extended_transaction_type:
          example: null
          type:
          - string
          - 'null'
        guid:
          example: TRN-429ad9fe-a1d2-4559-8590-885b2603f0e1
          type:
          - string
          - 'null'
        id:
          example: 1734681600000-178fa8095c154a55b9172f977b4c5f9a-0
          type:
          - string
          - 'null'
        is_bill_pay:
          example: false
          type:
          - boolean
          - 'null'
        is_direct_deposit:
          example: false
          type:
          - boolean
          - 'null'
        is_expense:
          example: false
          type:
          - boolean
          - 'null'
        is_fee:
          example: false
          type:
          - boolean
          - 'null'
        is_income:
          example: true
          type:
          - boolean
          - 'null'
        is_international:
          example: null
          type:
          - boolean
          - 'null'
        is_manual:
          example: false
          type:
          - boolean
          - 'null'
        is_overdraft_fee:
          example: false
          type:
          - boolean
          - 'null'
        is_payroll_advance:
          example: false
          type:
          - boolean
          - 'null'
        is_recurring:
          example: null
          type:
          - boolean
          - 'null'
        is_subscription:
          example: false
          type:
          - boolean
          - 'null'
        latitude:
          example: null
          type:
          - number
          - 'null'
        localized_description:
          example: null
          type:
          - string
          - 'null'
        localized_memo:
          example: null
          type:
          - string
          - 'null'
        longitude:
          example: null
          type:
          - number
          - 'null'
        member_guid:
          example: MBR-78b14c5f-7297-4fb5-a966-65ac45f74d8
          type:
          - string
          - 'null'
        member_is_managed_by_user:
          example: true
          type:
          - boolean
          - 'null'
        memo:
          example: Transactions
          type:
          - string
          - 'null'
        merchant_category_code:
          example: null
          type:
          - integer
          - 'null'
        merchant_guid:
          example: MCH-8cc3b01a-1c52-47d4-970d-30f8ee5566f1
          type:
          - string
          - 'null'
        merchant_location_guid:
          example: null
          type:
          - string
          - 'null'
        metadata:
          example: null
          type:
          - string
          - 'null'
        original_description:
          example: MX TECHNOLOGIES PAYMENT
          type:
          - string
          - 'null'
        posted_at:
          example: '2024-12-20T12:00:00Z'
          type:
          - string
          - 'null'
        status:
          example: POSTED
          type:
          - string
          - 'null'
        top_level_category:
          example: Income
          type:
          - string
          - 'null'
        transacted_at:
          example: '2024-12-20T12:00:00Z'
          type:
          - string
          - 'null'
        type:
          example: CREDIT
          type:
          - string
          - 'null'
        updated_at:
          example: '2024-12-20T18:52:38Z'
          type:
          - string
          - 'null'
        user_guid:
          example: USR-ef7a82f6-d6c1-42c4-9061-bdece5c4d44e
          type:
          - string
          - 'null'
        user_id:
          example: null
          type:
          - string
          - 'null'
      type: object
    InstitutionsResponseBody:
      properties:
        institutions:
          items:
            $ref: '#/components/schemas/InstitutionResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    ManagedAccountCreateRequestBody:
      properties:
        account:
          $ref: '#/components/schemas/ManagedAccountCreateRequest'
      type: object
    MembersResponseBody:
      properties:
        members:
          items:
            $ref: '#/components/schemas/MemberResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    AccountResponse:
      properties:
        account_number:
          example: '5366'
          type:
          - string
          - 'null'
        account_number_set_by:
          example: 1
          type:
          - integer
          - 'null'
        account_ownership:
          example: INDIVIDUAL
          type:
          - string
          - 'null'
        annuity_policy_to_date:
          example: '2016-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        annuity_provider:
          example: Metlife
          type:
          - string
          - 'null'
        annuity_term_year:
          example: 2048
          type:
          - integer
          - 'null'
        apr:
          example: 1
          type:
          - number
          - 'null'
        apr_set_by:
          example: 1
          type:
          - integer
          - 'null'
        apy:
          example: 1
          type:
          - number
          - 'null'
        apy_set_by:
          example: 1
          type:
          - integer
          - 'null'
        available_balance:
          example: 1000
          type:
          - number
          - 'null'
        available_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        available_credit:
          example: 1000
          type:
          - number
          - 'null'
        available_credit_set_by:
          example: 1
          type:
          - integer
          - 'null'
        balance:
          example: 10000
          type:
          - number
          - 'null'
        balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        calculated_apr:
          example: 21.66409
          type:
          - number
          - 'null'
        cash_balance:
          example: 1000
          type:
          - number
          - 'null'
        cash_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        cash_surrender_value:
          example: 1000
          type:
          - number
          - 'null'
        cash_surrender_value_set_by:
          example: 1
          type:
          - integer
          - 'null'
        created_at:
          example: '2023-07-25T17:14:46Z'
          type: string
        credit_limit:
          example: 100
          type:
          - number
          - 'null'
        credit_limit_set_by:
          example: 1
          type:
          - integer
          - 'null'
        currency_code:
          example: USD
          type:
          - string
          - 'null'
        currency_code_set_by:
          example: 1
          type:
          - integer
          - 'null'
        day_payment_is_due:
          example: 20
          type:
          - integer
          - 'null'
        day_payment_is_due_set_by:
          example: 1
          type:
          - integer
          - 'null'
        death_benefit:
          example: 1000
          type:
          - integer
          - 'null'
        death_benefit_set_by:
          example: 1
          type:
          - integer
          - 'null'
        federal_insurance_status:
          example: INSURED
          type:
          - string
          - 'null'
        feed_account_number:
          example: '5366'
          type:
          - string
          - 'null'
        feed_account_subtype:
          example: 1
          type:
          - integer
          - 'null'
        feed_account_type:
          example: 1
          type:
          - integer
          - 'null'
        feed_apr:
          example: 1
          type:
          - number
          - 'null'
        feed_apy:
          example: 1
          type:
          - number
          - 'null'
        feed_available_balance:
          example: 1000
          type:
          - number
          - 'null'
        feed_balance:
          example: 1000
          type:
          - number
          - 'null'
        feed_cash_balance:
          example: 1000
          type:
          - number
          - 'null'
        feed_cash_surrender_value:
          example: 1000
          type:
          - number
          - 'null'
        feed_credit_limit:
          example: 100
          type:
          - number
          - 'null'
        feed_currency_code:
          example: USD
          type:
          - string
          - 'null'
        feed_day_payment_is_due:
          example: 20
          type:
          - integer
          - 'null'
        feed_death_benefit:
          example: 1000
          type:
          - integer
          - 'null'
        feed_holdings_value:
          example: 1000
          type:
          - number
          - 'null'
        feed_interest_rate:
          example: 1
          type:
          - number
          - 'null'
        feed_is_closed:
          example: false
          type:
          - boolean
          - 'null'
        feed_last_payment:
          example: 100
          type:
          - number
          - 'null'
        feed_last_payment_at:
          example: '2023-07-25T17:14:46Z'
          type:
          - string
          - 'null'
        feed_loan_amount:
          example: 1000
          type:
          - number
          - 'null'
        feed_matures_on:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        feed_minimum_balance:
          example: 100
          type:
          - number
          - 'null'
        feed_minimum_payment:
          example: 10
          type:
          - number
          - 'null'
        feed_name:
          example: Test account 2
          type:
          - string
          - 'null'
        feed_nickname:
          example: My Checking
          type:
          - string
          - 'null'
        feed_original_balance:
          example: 10
          type:
          - number
          - 'null'
        feed_payment_due_at:
          example: '2025-02-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        feed_payoff_balance:
          example: 10
          type:
          - number
          - 'null'
        feed_routing_number:
          example: '68899990000000'
          type:
          - string
          - 'null'
        feed_started_on:
          example: '2020-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        feed_statement_balance:
          example: 100
          type:
          - number
          - 'null'
        feed_total_account_value:
          example: 100
          type:
          - number
          - 'null'
        guid:
          example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
          type:
          - string
          - 'null'
        holdings_value:
          example: 1000
          type:
          - number
          - 'null'
        holdings_value_set_by:
          example: 1
          type:
          - integer
          - 'null'
        id:
          example: '1040434698'
          type:
          - string
          - 'null'
        imported_at:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        institution_code:
          example: 3af3685e-05d9-7060-359f-008d0755e993
          type:
          - string
          - 'null'
        institution_guid:
          example: INS-12a3b-4c5dd6-1349-008d0755e993
          type:
          - string
          - 'null'
        insured_name:
          example: Tommy Shelby
          type:
          - string
          - 'null'
        interest_rate:
          example: 1
          type:
          - number
          - 'null'
        interest_rate_set_by:
          example: 1
          type:
          - integer
          - 'null'
        is_closed:
          example: false
          type:
          - boolean
          - 'null'
        is_closed_set_by:
          example: 1
          type:
          - integer
          - 'null'
        is_hidden:
          example: false
          type:
          - boolean
          - 'null'
        is_manual:
          example: false
          type:
          - boolean
          - 'null'
        last_payment:
          example: 100
          type:
          - number
          - 'null'
        last_payment_set_by:
          example: 1
          type:
          - integer
          - 'null'
        last_payment_at:
          example: '2023-07-25T17:14:46Z'
          type:
          - string
          - 'null'
        last_payment_at_set_by:
          example: 1
          type:
          - integer
          - 'null'
        loan_amount:
          example: 1000
          type:
          - number
          - 'null'
        loan_amount_set_by:
          example: 1
          type:
          - integer
          - 'null'
        margin_balance:
          example: 1000
          type:
          - number
          - 'null'
        matures_on:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        matures_on_set_by:
          example: 1
          type:
          - integer
          - 'null'
        member_guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          type:
          - string
          - 'null'
        member_id:
          example: member123
          type:
          - string
          - 'null'
        member_is_managed_by_user:
          example: false
          type:
          - boolean
          - 'null'
        metadata:
          example: some metadata
          type:
          - string
          - 'null'
        minimum_balance:
          example: 100
          type:
          - number
          - 'null'
        minimum_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        minimum_payment:
          example: 10
          type:
          - number
          - 'null'
        minimum_payment_set_by:
          example: 1
          type:
          - integer
          - 'null'
        name:
          example: Test account 2
          type:
          - string
          - 'null'
        name_set_by:
          example: 1
          type:
          - integer
          - 'null'
        nickname:
          example: My Checking
          type:
          - string
          - 'null'
        nickname_set_by:
          example: 1
          type:
          - integer
          - 'null'
        original_balance:
          example: 10
          type:
          - number
          - 'null'
        original_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        pay_out_amount:
          example: 10
          type:
          - number
          - 'null'
        payment_due_at:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        payment_due_at_set_by:
          example: 1
          type:
          - integer
          - 'null'
        payoff_balance:
          example: 10
          type:
          - number
          - 'null'
        payoff_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        premium_amount:
          example: 3900
          type:
          - number
          - 'null'
        property_type:
          example: VEHICLE
          type:
          - string
          - 'null'
        routing_number:
          example: '68899990000000'
          type:
          - string
          - 'null'
        started_on:
          example: '2015-10-13T17:57:37.000Z'
          type:
          - string
          - 'null'
        started_on_set_by:
          example: 1
          type:
          - integer
          - 'null'
        statement_balance:
          example: 1000.5
          type:
          - number
          - 'null'
        statement_balance_set_by:
          example: 1
          type:
          - integer
          - 'null'
        subtype:
          example: NONE
          type:
          - string
          - 'null'
        subtype_set_by:
          example: 1
          type:
          - integer
          - 'null'
        today_ugl_amount:
          example: 1000.5
          type:
          - number
          - 'null'
        today_ugl_percentage:
          example: 6.9
          type:
          - number
          - 'null'
        total_account_value:
          example: 1
          type:
          - number
          - 'null'
        total_account_value_set_by:
          example: 1
          type:
          - integer
          - 'null'
        total_account_value_ugl:
          example: 1
          type:
          - number
          - 'null'
        type:
          example: SAVINGS
          type:
          - string
          - 'null'
        type_set_by:
          example: 1
          type:
          - integer
          - 'null'
        updated_at:
          example: '2016-10-13T18:08:00.000Z'
          type:
          - string
          - 'null'
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          type:
          - string
          - 'null'
        user_id:
          example: user123
          type:
          - string
          - 'null'
      type: object
    MemberResponse:
      properties:
        aggregated_at:
          example: '2016-10-13T18:07:57.000Z'
          type:
          - string
          - 'null'
        background_aggregation_is_disabled:
          example: false
          type: boolean
        connection_status:
          example: CONNECTED
          type:
          - string
          - 'null'
        connection_status_message:
          example: Connected to MX Bank
          type:
          - string
          - 'null'
        guid:
          example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
          type:
          - string
          - 'null'
        id:
          example: unique_id
          type:
          - string
          - 'null'
        institution_code:
          example: mxbank
          type:
          - string
          - 'null'
        institution_guid:
          example: INST-12345678-90ab-cdef-1234-567890abcdef
          type: string
        is_being_aggregated:
          example: false
          type:
          - boolean
          - 'null'
        is_managed_by_user:
          example: false
          type:
          - boolean
          - 'null'
        is_manual:
          example: false
          type:
          - boolean
          - 'null'
        is_oauth:
          example: false
          type:
          - boolean
          - 'null'
        metadata:
          example: '\"credentials_last_refreshed_at\": \"2015-10-15\'
          type:
          - string
          - 'null'
        most_recent_job_detail_code:
          example: null
          type:
          - integer
          - 'null'
        most_recent_job_detail_text:
          example: null
          type:
          - boolean
          - 'null'
        most_recent_job_guid:
          example: JOB-12345678-90ab-cdef-1234-567890abcdef
          type:
          - boolean
          - 'null'
        name:
          example: MX Bank
          type:
          - string
          - 'null'
        needs_updated_credentials:
          example: false
          type:
          - boolean
          - 'null'
        oauth_window_uri:
          example: https://mxbank.mx.com/oauth/authorize?client_id=b8OikQ4Ep3NuSUrQ13DdvFuwpNx-qqoAsJDVAQCyLkQ&redirect_uri=https%3A%2F%2Fint-app.moneydesktop.com%2Foauth%2Fredirect_from&response_type=code&scope=openid&state=d745bd4ee6f0f9c184757f574bcc2df2
          type:
          - string
          - 'null'
        successfully_aggregated_at:
          example: '2016-10-13T17:57:38.000Z'
          type:
          - string
          - 'null'
        use_cases:
          type: array
          description: The use case associated with the member. Valid values are `PFM` and/or `MONEY_MOVEMENT`. Only set this if you've met with MX and have opted in to using this field.
          items:
            type: string
            enum:
            - MONEY_MOVEMENT
            - PFM
          example:
          - PFM
        user_guid:
          example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
          type:
          - string
          - 'null'
        user_id:
          example: user123
          type:
          - string
          - 'null'
      type: object
    ManagedTransactionUpdateRequest:
      properties:
        amount:
          example: '61.11'
          type: string
        category:
          example: Groceries
          type: string
        check_number_string:
          example: '6812'
          type: string
        currency_code:
          example: USD
          type: string
        description:
          example: Whole foods
          type: string
        id:
          example: transaction-265abee9-889b-af6a-c69b-25157db2bdd9
          type: string
        is_international:
          example: false
          type: boolean
        latitude:
          example: -43.2075
          type: number
        localized_description:
          example: This is a localized_description
          type: string
        localized_memo:
          example: This is a localized_memo
          type: string
        longitude:
          example: 139.691706
          type: number
        memo:
          example: This is a memo
          type: string
        merchant_category_code:
          example: 5411
          type: integer
        merchant_guid:
          example: MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b
          type: string
        merchant_location_guid:
          example: MCL-00024e59-18b5-4d79-b879-2a7896726fea
          type: string
        metadata:
          example: some metadata
          type: string
        posted_at:
          example: '2016-10-07T06:00:00.000Z'
          type: string
        status:
          example: POSTED
          type: string
        transacted_at:
          example: '2016-10-06T13:00:00.000Z'
          type: string
        type:
          example: DEBIT
          type: string
      type: object
    AccountResponseBody:
      properties:
        account:
          $ref: '#/components/schemas/AccountResponse'
      type: object
    AccountsResponseBody:
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/AccountResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
      type: object
    ManagedTransactionUpdateRequestBody:
      properties:
        transaction:
          $ref: '#/components/schemas/ManagedTransactionUpdateRequest'
      type: object
    ManagedMemberCreateRequestBody:
      properties:
        member:
          $ref: '#/components/schemas/ManagedMemberCreateRequest'
      type: object
    TransactionResponseBody:
      properties:
        transaction:
          $ref: '#/components/schemas/TransactionResponse'
      type: object
    ManagedTransactionCreateRequest:
      properties:
        amount:
          example: '61.11'
          type: string
        category:
          example: Groceries
          type: string
        check_number_string:
          example: '6812'
          type: string
        currency_code:
          example: USD
          type: string
        description:
          example: Whole foods
          type: string
        id:
          example: transaction-265abee9-889b-af6a-c69b-25157db2bdd9
          type: string
        is_international:
          example: false
          type: boolean
        latitude:
          example: -43.2075
          type: number
        localized_description:
          example: This is a localized_description
          type: string
        localized_memo:
          example: This is a localized_memo
          type: string
        longitude:
          example: 139.691706
          type: number
        memo:
          example: This is a memo
          type: string
        merchant_category_code:
          example: 5411
          type: integer
        merchant_guid:
          example: MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b
          type: string
        merchant_location_guid:
          example: MCL-00024e59-18b5-4d79-b879-2a7896726fea
          type: string
        metadata:
          example: some metadata
          type: string
        posted_at:
          example: '2016-10-07T06:00:00.000Z'
          type: string
        status:
          example: POSTED
          type: string
        transacted_at:
          example: '2016-10-06T13:00:00.000Z'
          type: string
        type:
          example: DEBIT
          type: string
      required:
      - amount
      - description
      - status
      - posted_at
      - transacted_at
      - type
      type: object
    TransactionsResponseBody:
      properties:
        transactions:
          items:
            $ref: '#/components/schemas/TransactionResponse'
          type: array
        pagination:
          $ref: '#/components/schemas/PaginationResponse'
    PaginationResponse:
      properties:
        current_page:
          example: 1
          type: integer
        per_page:
          example: 25
          type: integer
        total_entries:
          example: 1
          type: integer
        total_pages:
          example: 1
          type: integer
      type: object
    MemberResponseBody:
      properties:
        member:
          $ref: '#/components/schemas/MemberResponse'
      type: object
    InstitutionResponse:
      properties:
        code:
          example: mxbank
          type:
          - string
          - 'null'
        forgot_password_url:
          example: https://example.url.mxbank.com/forgot-password
          type:
          - string
          - 'null'
        forgot_username_url:
          example: https://example.url.mxbank.com/forgot-username
          type:
          - string
          - 'null'
        instructional_text:
          description: Render this text when end users are asked for their credentials, as it helps end users provide the correct credentials when creating a new member. May contain `<a></a>` tags to link to explanatory material.
          example: Some instructional text <a href="https://example.url.mxbank.com/instructions" id="instructional_text">for end users</a>.
          type:
          - string
          - 'null'
        instructional_text_steps:
          type:
          - array
          - 'null'
          items:
            type: string
          description: An array of instructional steps that may contain html elements.
          example:
          - 'Step 1: Do this.'
          - 'Step 2: Do that.'
        is_disabled_by_client:
          example: false
          type:
          - boolean
          - 'null'
        iso_country_code:
          example: US
          type: string
        medium_logo_url:
          example: https://content.moneydesktop.com/storage/MD_Assets/Ipad%20Logos/100x100/default_100x100.png
          type:
          - string
          - 'null'
        name:
          example: MX Bank
          type:
          - string
          - 'null'
        small_logo_url:
          example: https://content.moneydesktop.com/storage/MD_Assets/Ipad%20Logos/50x50/default_50x50.png
          type:
          - string
          - 'null'
        supports_account_identification:
          example: true
          type:
          - boolean
          - 'null'
        supports_account_statement:
          example: true
          type:
          - boolean
          - 'null'
        supports_account_verification:
          example: true
          type:
          - boolean
          - 'null'
        supports_oauth:
          example: true
          type:
          - boolean
          - 'null'
        supports_tax_document:
          example: true
          type:
          - boolean
          - 'null'
        supports_transaction_history:
          example: true
          type:
          - boolean
          - 'null'
        trouble_signing_in_url:
          example: https://example.url.mxbank.com/login-trouble
          type:
          - string
          - 'null'
        url:
          example: https://www.mxbank.com
          type:
          - string
          - 'null'
      type: object
  parameters:
    toDate:
      description: Filter transactions to this date (at midnight). This only supports ISO 8601 format without timestamp (YYYY-MM-DD). Defaults to 5 days forward from the day the request is made to capture pending transactions.
      example: '2024-03-31'
      in: query
      name: to_date
      schema:
        type: string
    memberGuid:
      description: The unique id for a `member`.
      example: MBR-7c6f361b-e582-15b6-60c0-358f12466b4b
      in: path
      name: member_guid
      required: true
      schema:
        type: string
    page:
      description: Results are paginated. Specify current page.
      example: 1
      in: query
      name: page
      schema:
        type: integer
    fromDate:
      description: Filter transactions from this date. This only supports ISO 8601 format without timestamp (YYYY-MM-DD). Defaults to 120 days ago if not provided.
      example: '2024-01-01'
      in: query
      name: from_date
      schema:
        type: string
    accountGuid:
      description: The unique id for an `account`.
      example: ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1
      in: path
      name: account_guid
      required: true
      schema:
        type: string
    acceptHeader:
      description: Specifies the media type expected in the response.
      in: header
      name: Accept
      required: true
      schema:
        type: string
        example: application/vnd.mx.api.v1+json
    recordsPerPageMax1000:
      description: This specifies the number of records to be returned on each page. Defaults to `25`. The valid range is from `10` to `1000`. If the value exceeds `1000`, the default value of `25` will be used instead.
      example: 10
      in: query
      name: records_per_page
      schema:
        type: integer
    transactionGuid:
      description: The unique id for a `transaction`.
      example: TRN-810828b0-5210-4878-9bd3-f4ce514f90c4
      in: path
      name: transaction_guid
      required: true
      schema:
        type: string
    userGuid:
      description: The unique identifier for a `user`, beginning with the prefix `USR-`.
      example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
      in: path
      name: user_guid
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      scheme: basic
      type: http
