openapi: 3.2.0
info:
  title: Mx Technologies monthly cash flow profile API
  contact:
    name: MX Platform API
    url: https://www.mx.com/products/platform-api
  version: '1.0'
  description: 'Operations tagged monthly cash flow profile across 2 of this provider''s published API definitions: mx-technologies-platform-openapi.yml, mx-technologies-platform-v20250224-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://int-api.mx.com
- url: https://api.mx.com
security:
- basicAuth: []
tags:
- name: monthly cash flow profile
paths:
  /users/{user_guid}/monthly_cash_flow_profile:
    parameters:
    - $ref: '#/components/parameters/userGuid'
    get:
      tags:
      - monthly cash flow profile
      operationId: readMonthlyCashFlowProfile
      summary: Read monthly cash flow profile
      description: Read monthly cash flow profile.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyCashFlowResponseBody'
    put:
      tags:
      - monthly cash flow profile
      operationId: updateMonthlyCashFlowProfile
      summary: Update monthly cash flow profile
      description: Use this endpoint to update the attributes of a `monthly_cash_flow_profile`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonthlyCashFlowProfileRequestBody'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyCashFlowResponseBody'
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
  /users/{user_identifier}/monthly_cash_flow_profile:
    parameters:
    - $ref: '#/components/parameters/userIdentifier'
    - $ref: '#/components/parameters/acceptVersion'
    get:
      tags:
      - monthly cash flow profile
      operationId: readMonthlyCashFlowProfile
      summary: Read monthly cash flow profile
      description: Read monthly cash flow profile.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyCashFlowResponseBody'
    put:
      tags:
      - monthly cash flow profile
      operationId: updateMonthlyCashFlowProfile
      summary: Update monthly cash flow profile
      description: Use this endpoint to update the attributes of a `monthly_cash_flow_profile`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonthlyCashFlowProfileRequestBody_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonthlyCashFlowResponseBody'
    servers:
    - url: https://int-api.mx.com
    - url: https://api.mx.com
components:
  schemas:
    MonthlyCashFlowProfileRequestBody:
      properties:
        institution:
          $ref: '#/components/schemas/MonthlyCashFlowProfileRequest'
      type: object
    MonthlyCashFlowResponseBody:
      properties:
        monthly_cash_flow_profile:
          $ref: '#/components/schemas/MonthlyCashFlowResponse'
      type: object
    MonthlyCashFlowResponse:
      properties:
        guid:
          example: MCF-4e431124-4a29-abf9-f059-ab232ac14dbf
          type: string
          description: Unique identifier for the monthly cash flow profile. Defined by MX.
        user_guid:
          example: USR-6c83f63c-efcc-0189-3f14-100f0bad378a
          type: string
          description: Unique identifier for the user the monthly cash flow profile is attached to. Defined by MX.
        budgeted_income:
          example: 1200.12
          type: number
          description: The amount of the budgeted income for the user.
        budgeted_expenses:
          example: 1000
          type: number
          description: The amount of the budgeted expenses for the user.
        goals_contribution:
          example: 150
          type: number
          description: The monthly dollar amount allocated for goals.
        estimated_goals_contribution:
          example: null
          type:
          - number
          - 'null'
          description: The estimated monthly dollar amount allocated for goals calculated from income and budgets.
        uses_estimated_goals_contribution:
          example: false
          type: boolean
    MonthlyCashFlowProfileRequest:
      properties:
        goals_contribution:
          example: 150.01
          type: number
          description: The monthly dollar amount allocated for goals.
        uses_estimated_goals_contribution:
          example: false
          type: boolean
          description: Determines if the user uses estimated goals contribution.
    MonthlyCashFlowProfileRequestBody_2:
      properties:
        monthly_cash_flow_profile:
          $ref: '#/components/schemas/MonthlyCashFlowProfileRequest_2'
      type: object
    MonthlyCashFlowResponse_2:
      properties:
        guid:
          example: MCF-4e431124-4a29-abf9-f059-ab232ac14dbf
          type: string
          description: Unique identifier for the monthly cash flow profile. Defined by MX.
        user_guid:
          example: USR-6c83f63c-efcc-0189-3f14-100f0bad378a
          type: string
          description: Unique identifier for the user the monthly cash flow profile is attached to. Defined by MX.
        budgeted_income:
          description: The amount of the budgeted income for the user.
          example: 5000
          type: number
        budgeted_expenses:
          description: The amount of the budgeted expenses for the user.
          example: 3500
          type: number
        goals_contribution:
          description: The monthly dollar amount allocated for goals.
          example: 500
          type: number
        estimated_goals_contribution:
          example: null
          type:
          - number
          - 'null'
          description: The estimated monthly dollar amount allocated for goals calculated from income and budgets.
        uses_estimated_goals_contribution:
          description: Indicates if the user uses estimated goals contribution.
          example: false
          type: boolean
    MonthlyCashFlowProfileRequest_2:
      properties:
        goals_contribution:
          description: The monthly dollar amount allocated for goals.
          example: 500
          type: number
        uses_estimated_goals_contribution:
          example: false
          type: boolean
          description: Determines if the user uses estimated goals contribution.
  parameters:
    userGuid:
      description: The unique identifier for a `user`, beginning with the prefix `USR-`.
      example: USR-fa7537f3-48aa-a683-a02a-b18940482f54
      in: path
      name: user_guid
      required: true
      schema:
        type: string
    acceptVersion:
      name: Accept-Version
      in: header
      required: true
      schema:
        type: string
        default: v20250224
        example: v20250224
      description: MX Platform API version.
    userIdentifier:
      description: Use either the user `id` you defined or the MX-defined user `guid`. See [MX-Defined GUIDs vs IDs Defined by You​](https://docs.mx.com/products/connectivity/overview/held-data/#mx-defined-guids-vs-ids-defined-by-you).
      in: path
      required: true
      name: user_identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      scheme: basic
      type: http
x-refined-from:
- mx-technologies-platform-openapi.yml
- mx-technologies-platform-v20250224-openapi.yml
